#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    .layui-form-label{
        width: 120px;
    }

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function (data) {

            util.sendAjax({
                type: 'POST',
                url: '#(ctxPath)/app/expert_group/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success: function (data) {
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        $("button").click(function () {
            pop_show('查看图片', '#(ctxPath)/util/pdfView?fileID='+$(this).val(),'', '', function () {
            });
        })
    });
</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
        <input type="hidden" name="model.id" value="#(model.id)">
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>名称</label>
            <div class="layui-input-block">
                <input type="text" name="book.name" placeholder="专家团体名称" class="layui-input" value="#(model.name)"
                       required lay-verify="required" style="width: 500px"  autocomplete="off" disabled="disabled"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>工作时间</label>
            <div class="layui-input-block">
                <input type="text" name="book.name" placeholder="工作时间" class="layui-input" value="#(model.worktime)"
                       required lay-verify="required" style="width:500px"  autocomplete="off" disabled="disabled"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>在职状态</label>
            <div class="layui-input-block">
                <input type="text" name="book.name" placeholder="在职状态" class="layui-input" value="#(model.workstate)"
                       required lay-verify="required" style="width: 500px"  autocomplete="off" disabled="disabled"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>专业资格内容</label>
            <div class="layui-input-block">
                <input type="text" name="book.name" placeholder="专业资格内容" class="layui-input" value="#(model.profess)"
                       required lay-verify="required" style="width: 500px"  autocomplete="off" disabled="disabled"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>专业证书</label>
            <div class="layui-input-inline">
                <button  type="button" class="layui-btn" name="check" id="check2" style="margin: 0 200px" value="#(model.certificate)">点击查看</button>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>部门名称</label>
            <div class="layui-input-block">
                <input type="text" name="book.name" placeholder="部门名称" class="layui-input" value="#(model.department)"
                       required lay-verify="required" style="width: 500px"  autocomplete="off" disabled="disabled"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" ><em class="require-mark">*</em>工作证件照片</label>
            <div class="layui-input-inline">
                <button  type="button" class="layui-btn" style="margin: 0 200px" value="#(model.workpictrue)">点击查看</button>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>参与项目经历</label>
            <div class="layui-input-block" style="width: 500px">
                <textarea name="model.project"
                                      class="layui-textarea" disabled="disabled">#(model.project)</textarea>
            </div>
        </div>
    </form>
</div>
#end