#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        form.on('submit(sub)', function (data) {

            util.sendAjax({
                type: 'POST',
                url: '#(ctxPath)/system/person/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success: function (data) {
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

</script>
#end

#define content()
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
        <input type="hidden" name="person.id" value="#(person.id)">
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>个人名称</label>
            <div class="layui-input-block">
                <input type="text" name="person.name" placeholder="个人群体名称" class="layui-input" value="#(person.name)"
                       required lay-verify="required" autocomplete="off"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>性别</label>
            <div class="layui-input-block">
                #if(person.sex == "男")
                男<input type="radio" name="person.sex" placeholder="男" class="layui-input" value="男" autocomplete="off"
                        checked="checked">
                女<input type="radio" name="person.sex" placeholder="女" class="layui-input" value="女" autocomplete="off">
                #else
                男<input type="radio" name="person.sex" placeholder="男" class="layui-input" value="男" autocomplete="off">
                女<input type="radio" name="person.sex" placeholder="女" class="layui-input" value="女" autocomplete="off"
                        checked="checked">
                #end
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>年龄</label>
            <div class="layui-input-block">
                <input type="number" name="person.age" placeholder="年龄" class="layui-input" value="#(person.age ??)"
                       required lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>电话号码</label>
            <div class="layui-input-block">
                <input type="text" name="person.phone" placeholder="电话号码" class="layui-input" value="#(person.phone)"
                       autocomplete="off"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>地址</label>
            <div class="layui-input-block">
                <input type="text" name="person.addr" placeholder="地址" class="layui-input" value="#(person.addr)"
                       autocomplete="off"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>身份证路径</label>
            <div class="layui-input-block">
                <input type="text" name="person.identity" placeholder="身份证路径" class="layui-input"
                       value="#(person.identity)" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>状态</label>
            <div class="layui-input-block">
                <select id='person' name="person.isEnable" lay-verify="required">
                    <option></option>
                    #if(person.isEnable == 1)
                    #statusOption(io.jboot.admin.service.entity.status.system.PersonStatus::me(), "1")
                    #else
                    #statusOption(io.jboot.admin.service.entity.status.system.PersonStatus::me(), "0")
                    #end
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
#end