<link rel="stylesheet" href="../../../static/css/common.css">
#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>

#end

#define content()
<div class="layui-fluid">
    <form id="searchForm" class="layui-form x-center" action="">
        <div class="layui-form-pane">
            <div class="layui-form-item" align="left">
                <div class="layui-inline">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select id='projectType' name="projectType">
                            <option></option>
                            #statusOption(PaTypeNameList)
                        </select>
                    </div>
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" placeholder="项目名称" class="layui-input"/>
                    </div>
                    <label class="layui-form-label" style="width: 120px">预计金额范围：</label>
                    <div class="layui-input-inline" style="width: 120px;">
                        <input name="minAmount" placeholder="￥" autocomplete="off" class="layui-input minAmount" type="number"/>
                        <div id="minDigitsTip"></div>
                    </div>

                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 120px;">
                        <input name="maxAmount" placeholder="￥" autocomplete="off" class="layui-input maxAmount" type="number"/>
                        <div id="maxDigitsTip"></div>
                    </div>
                    <div class="layui-input-inline" style="width : 80px">
                        <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="layui-row">
        <div id="view"></div>
        <hr>
        <div id="pageInfo" style="background-color: #fff"></div>
    </div>
</div>
#end

#define js()
<script id="demo" type="text/html">
    #[[
    {{#  layui.each(d, function(index, item){ }}
    ]]#
    <div class="layui-col-md12">
        <div class="main list">
            <div class="subject">
                <a href="javascript:;" class="caty">[{{item.projectAssTypeName}}]</a>
                <a href="javascript:;" onclick="showProjectInfo({{item.id}})" title="{{item.name}}">{{item.name}}</a>
                <em style="float:right;">{{item.publicTime}} 发布</em></div>
            <div class="content layui-row">
                <div class="layui-col-md12">
                    <div class="list-text">{{item.brief}}</div>
                    <div class="list-stat layui-row">
                        <div class="layui-col-xs3 layui-col-md3 Label">
                            <i class="layui-icon layui-icon-note"></i>
                            <a href="javascript:;">立项单位：{{item.buildOrgName}}</a>
                        </div>

                        <div class="layui-col-xs3 layui-col-md3 Label">
                            <i class="layui-icon layui-icon-note"></i>

                            <a href="javascript:;">管理部门：{{item.managementName}}</a>
                        </div>

                        <div class="layui-col-xs3 layui-col-md2">
                            <i class="layui-icon layui-icon-reply-fill"></i>
                            <em>预计金额：{{formatCurrency(item.amount)}}</em>
                        </div>

                        <div class="layui-col-xs3 layui-col-md2">
                            <i class="layui-icon layui-icon-read"></i>
                            <em>状态：
                                #[[
                                {{#  if(item.remark == '未承接，可申请'){ }}
                                ]]#
                                <font color="#1E9FFF">{{item.remark}}</font>
                                #[[
                                {{#  } else if(item.remark == '主体单位已拒绝您的申请，可再次申请'){ }}
                                ]]#
                                <font color="red">{{item.remark}}</font>
                                #[[
                                {{#  } else if(item.remark == '您已拒绝主体单位的邀请，可主动申请'){ }}
                                ]]#
                                <font color="#ff1493">{{item.remark}}</font>
                                #[[
                                {{#  } else if(item.remark == '已申请，待主体单位确认'){ }}
                                ]]#
                                <font color="#228b22">{{item.remark}}</font>
                                #[[
                                {{#  } else if(item.remark == '主体单位已同意您的申请'){ }}
                                ]]#
                                <font color="green">{{item.remark}}</font>
                                #[[
                                {{#  } else if(item.remark == '主体单位已向您发出委评邀请'){ }}
                                ]]#
                                <font color="#a52a2a">{{item.remark}}</font>
                                #[[
                                {{#  } else if(item.remark == '已被其他单位承接'){ }}
                                ]]#
                                <font color="#d2691e">{{item.remark}}</font>
                                #[[
                                {{#  } }}
                                ]]#
                            </em>
                        </div>

                        <div class="layui-col-xs3 layui-col-md2 alink">
                            #shiroHasPermission('/app/projectUndertake/agency')
                            #[[
                            {{#  if(item.remark == '未承接，可申请'){ }}
                            ]]#
                            <a href="javascript:;" onclick="apply({{item.id}})" class="layui-btn layui-btn-xs layui-btn-normal">申请介入</a>
                            #[[
                            {{#  } else if(item.remark == '主体单位已拒绝您的申请，可再次申请' || item.remark == '您已拒绝主体单位的邀请，可主动申请'){ }}
                            ]]#
                            <a href="javascript:;" onclick="apply({{item.id}})" class="layui-btn layui-btn-xs layui-btn-warm">重新申请</a>
                            #[[
                            {{#  } }}
                            ]]#
                            #end

                            <a href="javascript:;" onclick="showProjectInfo({{item.id}})" class="layui-btn layui-btn-xs">项目详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md12 margin20"></div>
    #[[
    {{#  }); }}
    {{#  if(d.length === 0){ }}
    ]]#
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">查询结果</div>
            <div class="layui-card-body">
                很遗憾的告知您，没有符合条件的数据，请换个筛选条件试试！
            </div>
        </div>
    </div>
    #[[
    {{#  } }}
    ]]#
</script>
<script type="text/javascript">
    var showProjectInfo = function (projectID) {
        pop_show('查看项目详情', '#(ctxPath)/app/projectUndertake/see?id=' + projectID, '1154', '645', function () {
        });
    };

    var apply;
    var pageSize = 10;

    layui.use(['layer', 'laypage', 'laytpl', 'form'], function () {
        var $ = layui.jquery
            , laypage = layui.laypage
            , laytpl = layui.laytpl
            , form = layui.form;

        form.on('submit(search)', function (data) {
            reloadData(1, data.field.projectType, data.field.name, data.field.minAmount, data.field.maxAmount);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        var doAjax = function(url, data, success, options) {
            var that = this;
            options = options || {};
            data = data || {};
            return $.ajax({
                type: options.type || 'post',
                dataType: options.dataType || 'json',
                data: data,
                url: url,
                success: function(res) {
                    console.log(res);
                    if(res.code == 0) {
                        success && success(res);
                    } else {
                        layer.msg(res.msg || res.code, {
                            shift: 6
                        });
                    }
                },
                error: function(e) {
                    options.error || layer.msg('请求异常，请重试', {
                        shift: 6
                    });
                }
            });
        }

        var callback = function(params){
            doAjax('#(ctxPath)/app/projectUndertake/projectList',params,function(result){
                // 渲染数据
                laytpl(demo.innerHTML).render(result.data.list, function(html){
                    document.getElementById('view').innerHTML = html;
                });
                // 回到顶部
                var speed=200;//滑动的速度
                $('body').animate({ scrollTop: 0 }, speed);
            });
        }

        //第三步：渲染模版
        //var data = {}
        // var reloadData = function (projectType, name, minAmount, maxAmount){
        //     $.post('#(ctxPath)/app/projectUndertake/projectList', {
        //         pageNum:1
        //         , pageSize:10
        //         , projectType:projectType
        //         , name : name
        //         , minAmount: minAmount
        //         , maxAmount: maxAmount
        //     }, function (res) {
        //         data = res.data.list;
        //         var getTpl = demo.innerHTML
        //             ,view = document.getElementById('view');
        //         laytpl(getTpl).render(data, function(html){
        //             view.innerHTML = html;
        //         });
        //     });
        // };

        var reloadData = function (curPage, projectType, name, minAmount, maxAmount){
            var params = {
                pageNumber:curPage
                , pageSize:pageSize
                , projectType:projectType
                , name : name
                , minAmount: minAmount
                , maxAmount: maxAmount
            };
            doAjax('#(ctxPath)/app/projectUndertake/projectList',params,function(result){
                // 渲染数据
                laytpl(demo.innerHTML).render(result.data.list, function(html){
                    document.getElementById('view').innerHTML = html;
                });
                // 调用分页
                laypage.render({
                    elem: 'pageInfo'
                    ,count: result.data.totalRow
                    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                    ,jump:  function(conf, first) {
                        if (first) {
                            return;
                        }
                        callback({
                            pageNumber: conf.curr,
                            pageSize: pageSize
                        });
                    }
                });
            });
        };
        reloadData();

        apply = function (projectID) {
            $.post("#(ctxPath)/app/projectUndertake/agency", {id: projectID}, function (msg) {
                layer.msg(msg.msg);
                reloadData();
            });
        };
    });

    $('.minAmount').bind('input propertychange', function() {
        var data = $('.minAmount').val();
        var str = digitsConversion(data);
        var bid = parseInt(Math.random()*100000);
        $("#minDigitsTip").html('<div class="docBubble" id="btip'+bid+'"><i class="triangle-t"></i><div class="tl"><div class="inner"><div class="cont"></div></div></div><div class="tr"></div><div class="bl"></div></div>');
        var $btip = $("#btip"+bid);
        var offset,h ,w ;
        var timer;
        clearInterval(timer);
        offset = $(this).offset();
        h = $(this).height();
        w = $(this).width();
        $(".cont").html(str);
        $(".triangle-t").css('left',26);
        $btip.css({ "top":offset.top+h}).show();
    });

    $('.minAmount').live("mouseover",function(){
        clearInterval(window.timer);
        $("#minDigitsTip").show();
    });

    $('.minAmount').live("mouseout",function(){
        $("#minDigitsTip").hide();
    });


    $('.maxAmount').bind('input propertychange', function() {
        var data = $('.maxAmount').val();
        var str = digitsConversion(data);
        var bid = parseInt(Math.random()*100000);
        $("#maxDigitsTip").html('<div class="docBubble" id="btip'+bid+'"><i class="triangle-t"></i><div class="tl"><div class="inner"><div class="cont"></div></div></div><div class="tr"></div><div class="bl"></div></div>');
        var $btip = $("#btip"+bid);
        var offset,h ,w ;
        var timer;
        clearInterval(timer);
        offset = $(this).offset();
        h = $(this).height();
        w = $(this).width();
        $(".cont").html(str);
        $(".triangle-t").css('left',26);
        $btip.css({ "top":offset.top+h}).show();
    });

    $('.maxAmount').live("mouseover",function(){
        clearInterval(window.timer);
        $("#maxDigitsTip").show();
    });

    $('.maxAmount').live("mouseout",function(){
        $("#maxDigitsTip").hide();
    });
</script>
#end
