#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }

    h3 {
        font-weight: bold;
    }
</style>
#end

#define content()
<div class="x-body">
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">项目基本信息</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="project.name" >项目名称：</label>
                                    <div class="layui-input-block" >
                                        <input type="text" id="project.name" name="project.name" value="#(project.name)"
                                               class="layui-input " style="width: 300px" readonly/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="project.roleName" >角色名称：</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="project.roleName" name="project.roleName" value="#(project.roleName)"
                                               class="layui-input "  readonly/>
                                    </div>
                                </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label">预计金额</label>
                                        <div class="layui-input-inline">
                                            <input type="text" value="#number(project.amount, ',###')" autocomplete="off" class="layui-input money" readonly/>
                                        </div>
                                        <div class="layui-form-mid layui-word-aux">（单位：元）</div>
                                    </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label" for="project.assessmentMode" >评估方式：</label>
                                    <div class="layui-input-block" >
                                        <input type="text" id="project.assessmentMode" name="project.assessmentMode" value="#(project.assessmentMode)"
                                               class="layui-input " style="width: 80px" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="project.site" >地址：</label>
                                    <div class="layui-input-block" >
                                        <input type="text" id="project.site" name="project.site" value="#(project.site)"
                                               class="layui-input " style="width: 855px" readonly/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">项目简介</div>
                    <div class="layui-card-body">
                        <p style="margin-left: 20px;margin-top: 8px">#(project.brief)</p>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">领导小组基本信息</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="leaderGroup.leader" >组长：</label>
                                    <div class="layui-input-block" >
                                        <input type="text" id="leaderGroup.leader" name="leaderGroup.leader" value="#(leaderGroup.leader)"
                                               class="layui-input " style="width: 200px" readonly/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="leaderGroup.deputy" >副组长：</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="leaderGroup.deputy" name="leaderGroup.deputy" value="#(leaderGroup.deputy)"
                                               class="layui-input "  style="width: 200px"  readonly/>
                                    </div>
                                </div>
                                <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="leaderGroup.crew" >组员：</label>
                                    <div class="layui-input-block" >
                                        <input type="text" id="leaderGroup.crew" name="leaderGroup.crew" value="#(leaderGroup.crew)"
                                               class="layui-input "  style="width: 900px" readonly/>
                                    </div></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">实施小组基本信息</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="impTeam.name" style="width: 110px" >小组名称：</label>
                                    <div class="layui-input-block" >
                                        <input type="text" id="impTeam.name" name="impTeam.name" value="#(impTeam.name)"
                                               class="layui-input " style="width: 400px;margin-left: 30px" readonly/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="leader.name" >组长：</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="leader.name" name="leader.name" value="#(leader.name)"
                                               class="layui-input "  readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: 110px">副组长：</label>
                                    <div class="layui-input-block" >
                                        <input type="text"
                                               value="#for(asLeaderGroup : asLeaderGroups)
                                                    #(asLeaderGroup.name) &nbsp;&nbsp;&nbsp;&nbsp;
                                                    #end"
                                               class="layui-input "  style="width: 900px;margin-left: 30px" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label"  style="width: 110px">专家成员：</label>
                                    <div class="layui-input-block" >
                                        <input type="text"  value="#for(expertGroup : expertGroups)
                        #(expertGroup.name) &nbsp;&nbsp;&nbsp;&nbsp;
                        #end"
                                               class="layui-input " style="width: 900px;margin-left: 30px" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label"  style="width: 110px" >现场调查成员：</label>
                                    <div class="layui-input-block" >
                                        <input type="text" value=" #for(invTeam : invTeams)
                        #(invTeam.name) &nbsp;&nbsp;&nbsp;&nbsp;
                        #end"
                                               class="layui-input " style="width: 900px;margin-left: 30px" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: 110px">报告编制成员：</label>
                                    <div class="layui-input-block" >
                                        <input type="text"  value="#for(repTeam : repTeams)
                        #(repTeam.name) &nbsp;&nbsp;&nbsp;&nbsp;
                        #end"
                                               class="layui-input " style="width: 900px;margin-left: 30px" readonly/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">方案依据</div>
                    <div class="layui-card-body">
                        <p style="margin-left: 20px;margin-top: 8px">#(evaScheme.gist)</p>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">风险评估工作拟采取的工作方式</div>
                    <div class="layui-card-body">
                        <p style="margin-left: 20px;margin-top: 8px">#(evaScheme.method)</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">工作要求</div>
                    <div class="layui-card-body">
                        <p style="margin-left: 20px;margin-top: 8px">#(evaScheme.demand)</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">具体措施</div>
                    <div class="layui-card-body">
                        <p style="margin-left: 20px;margin-top: 8px">#(evaScheme.measure)</p>
                    </div>
                </div>
            </div>


            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">风险评估工作时间安排和进度计划表</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="evaScheme.startDate" style="width: 110px" >总开始时间：</label>
                                    <div class="layui-input-block" >
                                        <input type="text" id="evaScheme.startDate" name="evaScheme.startDate" value="#(evaScheme.startDate)"
                                               class="layui-input " style="width: 300px;margin-left: 50px" readonly/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" for="evaScheme.endDate" style="width: 110px">总结束时间：</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="evaScheme.endDate" name="evaScheme.endDate" value="#(evaScheme.endDate)"
                                               class="layui-input " style="width: 300px;margin-left: 50px" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-form-item " style="margin-top: 50px;">
                                    <div class="layui-input-block">
                                        #for(scheduledPlan : scheduledPlans)
                                        <p  style="line-height:30px">
                                            名称：#(scheduledPlan.name) <br>
                                            起始时间：#(scheduledPlan.startDate) &nbsp;&nbsp;&nbsp;&nbsp;
                                            结束时间：#(scheduledPlan.endDate)<br>
                                            内容：#(scheduledPlan.content)<br>
                                        <hr class="layui-bg-gray" style="width: 300px">
                                        <br>
                                        </p>
                                        #end
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <button type="button" class="layui-btn layui-icon" id="back">返回</button>

</div>
#end

#define js()


<script type="text/javascript">
    layui.use(['form', 'layer', 'element', 'table', 'laydate', 'layedit', 'table', 'upload'], function () {
        /**
         *  操作对象
         */
        var layer = layui.layer;
        $('#back').click(function () {
            window.location.href = document.referrer;
        })
    });
</script>
#end