#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }
    .layui-form-label{
        width: 130px;
    }
</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;
    });

</script>
#end

#define content()
<div class="x-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>项目相关资料</legend>
    </fieldset>
    <form id="person" class="layui-form x-center">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">项目名称</label>
                <div class="layui-input-block " style="margin: 0 180px">
                    <input type="text" id="model.name" name="model.name" placeholder="#(model.name)" value="#(model.name)"
                           class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">组织机构名称</label>
                <div class="layui-input-block " style="margin: 0 180px">
                    <input type="text" id="organization.name" name="organization.name" placeholder="#(organization.name)" value="#(organization.name)"
                           class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">预计金额</label>
                <div class="layui-input-block " style="margin: 0 180px">
                    <input type="text" id="model.amount" name="model.amount" placeholder="#(model.amount)" value="#(model.amount)"
                           class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">项目类型</label>
                <div class="layui-input-block " style="margin: 0 180px">
                    <input type="text" id="model.typeName" name="model.typeName" placeholder="#(model.typeName)" value="#(model.typeName)"
                           class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                    <div class="layui-input-block " style="margin: 0 180px">
                        <input type="text" id="model.site" name="model.site" placeholder="#(model.site)" value="#(model.site)"
                               class="layui-input " style="width: 500px" disabled/>
                    </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" for="#(model.brief)" style="width: 680px;">
                    <h style="margin: 0 50px">简介</h>
                </label>
                <div class="layui-input-block">
					<textarea id="#(model.brief)" name="#(model.brief)" lay-verify="required" placeholder=""
                              class="layui-textarea"
                              cols="100" rows="2" wrap="hard" autocomplete="off" style="width: 680px">#(model.brief)</textarea>
                </div>
            </div>
        </div>
    </form>
</div>
#end