<html>
<head>
    <meta charset="utf-8">
    <title>404 页面未找到</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/css/register/style/admin.css" media="all">
    <link rel="stylesheet" href="../static/js/layui/css/layui.css" media="all">
    <link id="layuicss-layer" rel="stylesheet"
          href="http://www.layui.com/admin/std/dist/layuiadmin/layui/css/modules/layer/default/layer.css?v=3.1.1"
          media="all">
    <link rel="stylesheet" href="../../static/css/register/style/admin.css" media="all">
    <link rel="stylesheet" href="../../static/js/layui/css/layui.css" media="all">
    <style>
        .layadmin-tips h1 {
            font-size: 100px;
            line-height: 100px;
            color: #009688;
        }
    </style>
</head>
<body layadmin-themealias="default">


<div class="layui-fluid">
    <div class="layadmin-tips">
        <i class="layui-icon" face=""></i>
        <div class="layui-text">
            <h1>
                <span class="layui-anim layui-anim-loop layui-anim-">4</span>
                <span class="layui-anim layui-anim-loop layui-anim-rotate">0</span>
                <span class="layui-anim layui-anim-loop layui-anim-">4</span>
                <span class="layui-anim layui-anim-loop layui-anim-" style="display:block;font-size: 30px">对不起，页面未找到</span>
            </h1>
        </div>
    </div>
</div>

<script src="../static/js/layui/layui.all.js"></script>
</body>
</html>