<link rel="stylesheet" href="../static/home/home.css">
<title>社会稳定风险评估系统--保民和</title>
<meta name="description" content="社会稳定风险评估系统为全国第一家社会稳定风险评估办公自动化产品">
<meta name="keywords" content="保民和,稳评,流程管理,协同管理">
#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    #copyright p {
        margin-bottom: 0px;
        color: #666666;
        font-size: 12px;
    }
    #header{
        transition: background-color 1s;
        -moz-transition: background-color 1s;	/* Firefox 4 */
        -webkit-transition: background-color 1s;	/* Safari 和 Chrome */
        -o-transition: background-color 1s;	/* Opera */
        height: 50px;
        margin: 0 -20px;
        margin-top: -10px;
    }

    body {
        padding-bottom: 50px;
    }

    .footer {
        position: fixed;
        left: 0px;
        bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        height: 60px;
        line-height: 25px;
        background-color: #eee;
        z-index: 9999;
    }
</style>
#end

#define js()
<!-- 加载编辑器的容器 -->
<link rel="stylesheet" type="text/css" href="#(RESOURCE_HOST)/static/css/news/newslist.css">
<link rel="stylesheet" type="text/css" href="#(RESOURCE_HOST)/static/css/news/page.css">
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/jquery.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/page.js"></script>
<!-- 配置文件 -->
<script type="text/javascript">
    $(".zxf_pagediv").createPage({
        pageNum: "#(totalPage)",
        current: "#(current)",
        backfun: function (data) {
            var url = "/nlistPage";
            var form = $("<form method='post'></form>");
            form.attr({"action": url});
            var input = $("<input type='hidden'>");
            input.attr({"name": "pageNum"});
            input.val(data.pageNum);
            input.attr({"name": "current"});
            input.val(data.current);
            form.append(input);
            $("html").append(form);
            form.submit();
        }
    });

    function nshow(id) {
        var url = "/nshow";
        var form = $("<form method='post'></form>");
        form.attr({"action": url});
        var input = $("<input type='hidden'>");
        input.attr({"name": "id"});
        input.val(id);
        form.append(input);
        $("html").append(form);
        form.submit();
    }
</script>
#end

#define content()
<div id="header" style="background: rgba(102, 179, 255, 0.8);padding-right: 17px; height:71px;line-height: 25px;">
    <br>
    <div style="float: right; width: 280px; display: inline-block;">
        <div style="float: left; padding-right:30px;">
            <a class="login"
               style="color: white; font-size: 20px; font-weight: 200; text-decoration: none;"
               href="#(ctxPath)/nlist">资&nbsp;讯</a>
        </div>
        <div style="float: left; padding-right:30px;">
            <a class="login"
               style="color: white;font-size: 20px; font-weight: 200; text-decoration: none;"
               href="#(ctxPath)/login">登&nbsp;录</a>
        </div>
        <div style="padding-right:30px;">
            <a class="register"
               style="color: white;font-size: 20px; font-weight: 200; text-decoration: none;"
               href="#(ctxPath)/register">注&nbsp;册</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="news-list">
        <ul class="news-list-left">
            #for(model : newsList)
            <li class="news-list-item">
                <div class="author-time">
                    <span>#(model.editer)</span> &nbsp;&nbsp;发表于 <span>#(model.createTime)</span>
                </div>
                <div class="news-des">
                    <h3 class="news-title"><i></i>
                        <a href="/nshow?id=#(model.id)" target="_blank">#(model.title)</a>
                    </h3>
                    <div class="news-content-des">#(model.newsletter)</div>
                </div>
            </li>
            #end
            <div class="zxf_pagediv"></div>
        </ul>

        <div class="news-list-right">
            <div class="about">
                <div class="about-des">
                    <h4>关于我们</h4>
                    <p>拥有双面的不仅是人生，还有 layui。一面极简，一面丰盈。极简是视觉所见的外在，是开发所念的简易。丰盈是倾情雕琢的内在，是信手拈来的承诺。一切本应如此，简而全，双重体验</p>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

<div id="footer" style="background: rgba(102, 179, 255, 0.8);text-align: center;
            height: 60px; padding-top:10px; color: white;">
    版权所有 © <a href="http://www.gzbmhwp.com/" target="_blank" style="color: white">贵州保民和社会稳定风险评估有限公司</a> 中国·贵州·贵阳<br/>
    备案证书号：黔ICP备18009264号-2
</div>
#end