#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<!-- 加载编辑器的容器 -->
<link rel="stylesheet" type="text/css" href="#(RESOURCE_HOST)/static/css/news/newslist.css">
<!-- 配置文件 -->
#end

#define content()
<div class="container">
    <div class="news-list">
        <h2>#(model.title)</h2>
        <p class="one gray">时间:<em>#(model.createTime)</em>&nbsp;&nbsp;来源:<em>#(model.source)</em> &nbsp;&nbsp;作者:<em>#(model.editer)</em></p>
        <hr/>
        <div style="padding-left: 30px;padding-right: 30px">
            #(model.content)
        </div>
        <footer class="copyright">
            Copyright &nbsp; 2016 DreamBoy All rights reserved.
        </footer>
    </div>
</div>
#end