<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>注册</title>
    #include("/template/common/include/_css.html")
</head>
<body class="login-body body">

<div class="login-box">
    <form id="addForm" class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>用户名称</label>
            <div class="layui-input-block">
                <input type="text" name="user.name" placeholder="用户名称" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>登录密码</label>
            <div class="layui-input-block">
                <input type="password" name="user.pwd" placeholder="登录密码" class="layui-input" value="" required  lay-verify="required" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">电话号码</label>
            <div class="layui-input-block">
                <input type="text" name="user.phone" placeholder="电话号码" class="layui-input" value="" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="user.email" placeholder="邮箱" class="layui-input" value="" autocomplete="off"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户角色</label>
            <div class="layui-input-block">
                #for (role : roleList)
                <input type="checkbox" name="userRole" value="#(role.id)" title="#(role.name)">
                #end
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><em class="require-mark">*</em>状态</label>
            <div class="layui-input-block">
                <select id='status' name="user.status" lay-verify="required">
                    <option></option>
                    #statusOption(io.jboot.admin.service.entity.status.system.UserStatus::me(), '1')
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button  class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>

#include("/template/common/include/_js.html")
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        // 表单验证
        // ......

        // 提交监听
        form.on('submit(sub)', function (data) {
            util.sendAjax ({
                type: 'POST',
                url: '#(ctxPath)/postRegister',
                data: $.param(data.field),
                loadFlag: true,
                success : function(data) {
                    setTimeout(function () {
                        window.location.href = "/";
                    },3000);
                },
                complete : function() {
                    // 刷新验证码
                    $("#captchaImg").attr('src', '#(ctxPath)/captcha?'+Math.random());
                }
            });

            return false;
        });
        $(document).on('click','#login',function(){
            window.location.href = "/login";
        });
    })

</script>
</body>
</html>