#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style type="text/css">
</style>
#end

#define content()

<br>
<h2 class="title" align="center" style="color: #00a89a">备案资料移交表</h2><br>
<hr class="layui-bg-blue">
<div class="layui-row">
    <table id="dateTable" lay-filter="dateTable"></table>
</div>

#if(fRole)
<script type="text/html" id="barOption">
    #[[
    {{#  if(d.isUpload && d.remark == '1'){ }}
    ]]#
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="see">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="upload">重新上传</a>
    #[[
    {{# } else if(!d.isUpload && d.remark == '1'){ }}
    ]]#
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="upload">上传备案资料移交表</a>
    #[[
    {{#  } }}
    ]]#
</script>
#else if(mRole)
<script type="text/html" id="barOption">
    #[[
    {{#  if(d.isUpload){ }}
    ]]#
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="see">查看</a>
    #[[
    {{# } else if(!d.isUpload){ }}
    ]]#
    <a class="layui-disabled layui-btn-normal layui-btn-xs" disabled="disabled">暂无资料</a>
    #[[
    {{#  } }}
    ]]#
</script>
#end
#end

#define js()
<script type="text/javascript">
    var projectFileTypeID = "#(projectFileTypeID)";

    layui.use(['table', 'layer'], function () {
        var table = layui.table,
            layer = layui.layer,
            $ = layui.jquery;

        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , contentType: 'application/json; charset=UTF-8'
            , cols: [[                 //标题栏
                {field: '0', align: 'center',  type: 'numbers', unresize: 'true'}
                , {field: 'name', title: '文件名', minWidth: 300, align: 'center', sort: true}
                , {field: 'createUserName', title: '上传人员', minWidth: 150, align: 'center', sort: true}
                , {field: 'createTime', title: '上传时间', minWidth: 150, align: 'center', sort: true}
                , {field: 'option', title: '操作',minWidth: 200, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/project/checkedTable?projectFileTypeID=' + projectFileTypeID
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {

                $('.layui-table-body').find('td').each(function (index, element) {
                    if ($(this).attr("data-field") > 0) {
                        $(this).css("display", "none");
                    }
                });
            }
        });

        table.on('tool(dateTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'see') {
                pop_show('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, '600', '600', function () {
                    table.reload('dateTable-measure', {
                        url: '#(ctxPath)/app/track/fileTable?id=' + projectID + '&fileTypeID=' + projectFileTypeID
                    });
                });
            } else if (obj.event === 'upload') {
                pop_show('上传文件', '#(ctxPath)/app/project/fileUploading?id=' + projectFileTypeID + '&projectId=' + data.id, '500', '300', function () {
                    window.location.reload();
                });
            }
        });

    });
</script>
#end