#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style type="text/css">
</style>
#end

#define content()
<div class="layui-row">
    <div class="layui-row">
        <table id="dateTable" lay-filter="dateTable"></table>
    </div>
</div>

<script type="text/html" id="barOption">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="see" id="see">查看</a>
    #if(fRole)
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" id="del">删除</a>
    #end
</script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        #if(fRole)
            <button class="layui-btn layui-btn-sm" lay-event="upload">上传</button>
        #end
    </div>
</script>
#end

#define js()
<script type="text/javascript">
    var projectID = "#(projectID)";
    var projectFileTypeID = "#(projectFileTypeID)";

    layui.use(['table', 'layer'], function () {
        var table = layui.table,
            layer = layui.layer,
            $ = layui.jquery;

        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-50'    //容器高度
            ,toolbar: '#toolbar'
            , cols: [[                 //标题栏
                {field: '0', align: 'center', minWidth: 60, type: 'numbers', unresize: 'true'}
                , {field: 'orginalFileName', title: '原始文件名', minWidth: 300, align: 'center', sort: true}
                , {field: 'name', title: '文件类型名称', minWidth: 300, align: 'center', sort: true}
                , {field: 'createUserName', title: '上传人员', minWidth: 150, align: 'center', sort: true}
                , {field: 'createTime', title: '上传时间', width: 150, align: 'center', sort: true}
                , {field: 'option', title: '操作',width: 120, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/track/fileTable?id=' + projectID + '&fileTypeID=' + projectFileTypeID
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {

            $('.layui-table-body').find('td').each(function (index, element) {
                if ($(this).attr("data-field") > 0) {
                    $(this).css("display", "none");
                }
            });
            }
        });

        //监听行操作按钮事件
        table.on('tool(dateTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'see') {
                pop_show_full('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, function () {
                    table.reload('dateTable', {
                        url: '#(ctxPath)/app/track/fileTable?id=' + projectID + '&fileTypeID=' + projectFileTypeID
                    });
                });
            } else if (obj.event === 'del') {
                $.post('#(ctxPath)/app/track/deleteRiskTrackingMessage?fileID=' + data.fileID, function () {})
                table.reload('dateTable', {
                    url: '#(ctxPath)/app/track/fileTable?id=' + projectID + '&fileTypeID=' + projectFileTypeID
                });
            }
        });

        //监听头部工具栏按钮事件
        table.on('toolbar(dateTable)', function(obj){
            if(obj.event === 'upload'){
                pop_show('上传文件', '#(ctxPath)/app/project/fileUploading?id=' + projectFileTypeID + '&projectId=' + projectID, '500', '300', function () {
                    layer.msg("上传成功！");
                    table.reload('dateTable', {
                        url: '#(ctxPath)/app/track/fileTable?id=' + projectID + '&fileTypeID=' + projectFileTypeID
                    });
                });
            };
        });
    });
</script>
#end