#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">

</script>
#end

#define content()
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top:30px;color: #009688;">
        <legend style="font-size: 20px;font-weight: 500;">专家团体认证</legend>
    </fieldset>

    #if(auth.status.equals("3"))
    <script>
        window.location.href = "#(ctxPath)/util/tip?content=您的认证信息正在审核中&btn1=点击查看&url1=#(ctxPath)/app/person/verify&icon=layui-icon-log&btn2=取消认证&url2=#(ctxPath)/app/person/cancelExpertGroupAuth";
    </script>
    #else if(auth.status.equals("2"))
    <script>
        window.location.href = "#(ctxPath)/util/tip?content=您已经成功认证专家团体&btn1=点击查看&url1=#(ctxPath)/app/person/verify&icon=layui-icon-auz";
    </script>
    #else if(auth.status.equals("1"))
    <script>
        window.location.href = "#(ctxPath)/util/tip?content=认证失败:#(auth.reply)&btn1=重新认证&url1=#(ctxPath)/app/person/verify&title=重新认证&icon=layui-icon-face-cry";
    </script>
    #else
    #if(affectedGroup == null)
    <script>
        window.location.href = "#(ctxPath)/util/tip?content=请在个人资料中完善您的信息&btn1=点击完善&method1=new&url1=#(ctxPath)/app/person/index&title=用户资料完善&icon=layui-icon-tips";
    </script>
    #else
    <script>
        window.location.href = "#(ctxPath)/util/tip?content=您还没有认证专家团体&btn1=点击认证&url1=#(ctxPath)/app/person/verify&title=专家团体认证&icon=layui-icon-add-circle-fine";
    </script>
    #end
    #end
    <hr>
</div>

#end