#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    .expertGroup-box .title {
        color: #5FB878;
        font-weight: 700;
        font-family: "微软雅黑", serif;
    }

    .require-mark {
        color: red;
    }
</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        form.on('submit(sub)', function (data) {
            util.sendAjax({
                type: 'POST',
                url: '#(ctxPath)/app/person/postPerfectInformation',
                data: $.param(data.field),
                loadFlag: true,
                success: function (data) {
                    layer.msg('保存成功');
                    window.location.href = "#(ctxPath)/app/person/";
                },
                error: function (data) {
                    console.log(data);
                }
            });
            return false;
        });
    });


</script>
#end

#define content()
<div class="expertGroup-box">
    <h2 class="title" align="center">专家认证</h2>
    <hr align="center" size="2" width="100%"/>
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">个人资料</li>
            <li>联系资料</li>
            <li>工作资料</li>
        </ul>

        <div class="layui-tab-content">

            <!--个人资料内容-->
            <div class="layui-tab-item">
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.id"><em class="require-mark">*</em>账号</label>
                    <div class="layui-input-inline">
                        <input type="number" id="expertGroup.id" name="expertGroup.id" placeholder="账号" value=""
                               class="layui-input layui-disabled" disabled="disabled" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.name">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.name" name="expertGroup.name" value="#(expertGroup.name)"
                               class="layui-input layui-disabled" disabled="disabled"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.spell">名称全拼</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.spell" name="expertGroup.spell" value="#(expertGroup.spell)"
                               class="layui-input layui-disabled" disabled="disabled"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.othername">曾用名</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.othername" name="expertGroup.othername"
                               value="#(expertGroup.othername)" class="layui-input layui-disabled" disabled="disabled"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" for="expertGroup.birthday"><em
                            class="require-mark">*</em>出生日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.birthday" name="expertGroup.birthday" lay-verify="date"
                               placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input layui-disabled"
                               disabled="disabled" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.politics"><em
                            class="require-mark">*</em>政治面貌</label>
                    <div class="layui-input-block">
                        <select id="expertGroup.politics" name="expertGroup.politics" lay-verify="required">
                            <option value=""></option>
                            <option value="0">群众</option>
                            <option value="1">共青团员</option>
                            <option value="2">党员</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.nation"><em class="require-mark">*</em>民族</label>
                    <div class="layui-input-block">
                        <select id="expertGroup.nation" name="expertGroup.nation" lay-verify="required">
                            <option value=""></option>
                            <option value="0">汉族</option>
                            <option value="1">苗族</option>
                            <option value="2">布依族</option>
                            <option value="3">仡佬族</option>
                            <option value="4">回族</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.occupation">职业</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.occupation" name="expertGroup.occupation"
                               value="#(expertGroup.occupation)" class="layui-input layui-disabled"
                               disabled="disabled"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.nationality"><em
                            class="require-mark">*</em>国籍</label>
                    <div class="layui-input-block">
                        <select id="expertGroup.nationality" name="expertGroup.nationality" lay-verify="required">
                            <option value=""></option>
                            <option value="0">中国</option>
                            <option value="1">美国</option>
                            <option value="2">英国</option>
                            <option value="3">日本</option>
                            <option value="4">韩国</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.education"><em
                            class="require-mark">*</em>学历</label>
                    <div class="layui-input-block">
                        <select id="expertGroup.education" name="expertGroup.education" lay-verify="required">
                            <option value=""></option>
                            <option value="0">小学</option>
                            <option value="1">中学</option>
                            <option value="2">本科</option>
                            <option value="3">硕士</option>
                            <option value="4">博士</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.children">子女情况</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.children" name="expertGroup.children"
                               value="#(expertGroup.children)" class="layui-input layui-disabled" disabled="disabled"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.maritalstatus">婚姻状况</label>
                    <div class="layui-input-block" id="expertGroup.maritalstatus">
                        <input type="radio" name="maritalstatus" value="未婚" title="已婚">
                        <input type="radio" name="maritalstatus" value="未婚" title="未婚" checked>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.census">户籍</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.census" name="expertGroup.census"
                               value="#(expertGroup.census)" class="layui-input layui-disabled" disabled="disabled"/>
                    </div>
                </div>
            </div>
            <!--联系资料内容-->
            <div class="layui-tab-item">
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.phone"><em
                            class="require-mark">*</em>电话号码</label>
                    <div class="layui-input-inline">
                        <input type="tel" id="expertGroup.phone" name="expertGroup.phone"
                               value="#(expertGroup.phone)" class="layui-input layui-disabled"
                               disabled="disabled" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.email">邮箱</label>
                    <div class="layui-input-inline">
                        <input type="email" id="expertGroup.email" name="expertGroup.email"
                               value="#(expertGroup.email)" class="layui-input layui-disabled"
                               disabled="disabled"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.residence"><em
                            class="require-mark">*</em>长期居住地址</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.residence"
                               name="expertGroup.residence"
                               value="#(expertGroup.residence)"
                               class="layui-input layui-disabled"
                               disabled="disabled" required/>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.personID">个人群体编号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.personID" name="expertGroup.personID"
                               value="#(expertGroup.personID)" class="layui-input layui-disabled"
                               disabled="disabled"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.workpicture">工作认证照片</label>
                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn layui-btn-disabled"
                                id="expertGroup.workpicture">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.department">部门名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.department" name="expertGroup.department"
                               value="#(expertGroup.department)" class="layui-input layui-disabled"
                               disabled="disabled"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.duty">职务</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.duty" name="expertGroup.duty"
                               value="#(expertGroup.duty)" class="layui-input layui-disabled"
                               disabled="disabled"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" for="expertGroup.worktime"><em
                            class="require-mark">*</em>工作时间</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.worktime" name="expertGroup.worktime"
                               lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off"
                               class="layui-input layui-disabled" disabled="disabled" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.workstate"><em
                            class="require-mark">*</em>在职状态</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.workstate" name="expertGroup.workstate"
                               value="#(expertGroup.workstate)" class="layui-input layui-disabled"
                               disabled="disabled" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.profess"><em
                            class="require-mark">*</em>专业资格内容</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.profess" name="expertGroup.profess"
                               value="#(expertGroup.profess)" class="layui-input layui-disabled"
                               disabled="disabled" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="expertGroup.certificate">专业证书</label>
                    <div class="layui-input-inline">
                        <input type="text" id="expertGroup.certificate"
                               name="expertGroup.certificate"
                               value="#(expertGroup.certificate)" class="layui-input layui-disabled"
                               disabled="disabled"/>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label" for="expertGroup.resume">工作简历</label>
                    <div class="layui-input-block">
                        <textarea id="expertGroup.resume" name="expertGroup.resume"
                                  placeholder="请输入内容"
                                  class="layui-textarea" disabled="disabled"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label" for="expertGroup.project">参与项目经历</label>
                    <div class="layui-input-block">
                        <textarea id="expertGroup.project" name="expertGroup.project"
                                  placeholder="请输入内容" class="layui-textarea"
                                  disabled="disabled"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


#end