#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer', 'laydate', 'upload'], function () {
        var layer = layui.layer
            , $ = layui.jquery
            , form = layui.form
            , laydate = layui.laydate
            , upload = layui.upload;
        laydate.render({
            elem: '#expertGroup.worktime'
        });
        laydate.render({
            elem: '#expertGroup.birthday'
        });

        var file1 = "";
        var file2 = "";
        form.on('submit(sub)', function (data) {
            $('#uploadBtn1').click();
            if (file1 == "") {
                layer.msg("工作证件照片上传失败，请重新选择上传！");
                return false;
            }
            if (file2 == "") {
                layer.msg("专业资格证书上传失败，请重新选择上传！");
                return false;
            }

            data.field['expertGroup.workpictrue'] = file1;
            data.field['expertGroup.certificate'] = file2;
            $.post("#(ctxPath)/app/person/expertGroupVerify", $.param(data.field), function (res) {
                layer.msg(res.msg);
                if (res.code === '0'){
                    setTimeout(function () {
                        window.location.href = document.referrer;
                    }, 1000);
                }
            });
            // console.log(data);
            // console.log(data.field);

            // util.sendAjax({
            //     type: 'POST',
            //     // url: '#(ctxPath)/app/person/expertGroupVerify',
            //     url: '#(ctxPath)/app/person/datePost',
            //     data: $.param(data.field),
            //     loadFlag: true,
            //     success: function (data) {
            //         layer.msg('上传成功，请耐心等待审核！');
            //         // window.location.reload();
            //     },
            //     error: function (data) {
            //         console.log(data);
            //     }
            // });
            return false;

        });
        $(function () {
            var test = "#(expertGroup.nation)";
            if (test.length > 0) {
                $("input").prop("disabled", "disabled").addClass("layui-disabled");
                $("textarea").prop("disabled", "disabled").addClass("layui-disabled");
                $("select").prop("disabled", "disabled").addClass("layui-disabled");
                $(".layui-select-title").unbind();
                $("option").prop("disabled", "disabled").addClass("layui-disabled");
                $("#sub").hide();
            }
            $.fn.serializeJson = function () {
                var serializeObj = {};
                $(this.serializeArray()).each(function () {
                    serializeObj[this.name] = this.value;
                });
                return serializeObj;
            };
        });

        $('#back').click(function () {
            history.go(-1);
        });



        upload.render({
            elem: '#upload1'
            , url: '#(ctxPath)/util/uploadFile'
            , accept: 'file'
            //,multiple: true
            , exts: 'pdf'
            , data: {
                description: "工作证件照片"
            }
            , done: function (res) {
                if (res.code == 0) {
                    layer.msg("工作证件照片上传成功");
                    file1 = res.data.fileId;
                    $('#upload1').addClass("layui-disabled").prop("disabled", "disabled");
                } else if (res.code == 1) {
                    layer.msg("工作证件照片文件上传错误，请重新选择上传！");
                }
            }
            , error: function (index, upload) {
                alert("工作证件照片文件上传错误！请重新尝试！");
            }
        });

        upload.render({
            elem: '#upload2'
            , url: '#(ctxPath)/util/uploadFile'
            , accept: 'file'
            //,multiple: true
            , exts: 'pdf'
            , data: {
                description: "专业资格证书"
            }
            , done: function (res) {
                if (res.code == 0) {
                    layer.msg("专业资格证书上传成功");
                    file2 = res.data.fileId;
                    $('#upload2').addClass("layui-disabled").prop("disabled", "disabled");
                } else if (res.code == 1) {
                    layer.msg("专业资格证书文件上传失败，请重新选择上传！");
                }
            }
            , error: function (index, upload) {
                alert("专业资格证书文件上传错误！请重新尝试！");
            }
        });


        var flag = "#(flag)";
        var auth = "#(auth)";
        if (flag === "true") {
            if (auth === "true"){
                $('#sub').remove();
            }
        }
    });


</script>
#end

#define content()
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>专家团体</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" action="" id="content" method="post">

        <div class="layui-form-item">
            <label class="layui-form-label" for="expertGroup.name">专家团体名称</label>
            <div class="layui-input-inline">
                <input type="text" name="expertGroup.name" id="expertGroup.name" required lay-verify="required"
                       value="#(person.name)" class="layui-input layui-disabled"
                       placeholder="请输入专家团体名称" autocomplete="off"  disabled>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label" for="expertGroup.workstate">在职状态</label>
            <div class="layui-input-inline">
                <select name="expertGroup.workstate" id="expertGroup.workstate">
                    <option value="">请选择</option>
                    #if(expertGroup.wokstate == 0)
                    <option value="在职">在职</option>
                    <option value="离职" selected="">离职</option>
                    #else
                    <option value="在职" selected="">在职</option>
                    <option value="离职">离职</option>
                    #end
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="expertGroup.worktime">工作时间</label>
                <div class="layui-input-block">
                    <input type="text" name="expertGroup.worktime" id="expertGroup.worktime" autocomplete="off"
                           value="#(expertGroup.worktime)" class="layui-input" lay-verify="required">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="expertGroup.department">部门名称</label>
                <div class="layui-input-block">
                    <input type="text" name="expertGroup.department" id="expertGroup.department" autocomplete="off"
                           value="#(expertGroup.department)" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="upload1"><em class="require-mark">*</em>工作证件照片</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" name="upload1" id="upload1">
                            <i class="layui-icon"></i>上传文件
                        </button>
                        <button type="button" class="layui-hide" id="uploadBtn1"></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" for="expertGroup.profess">专业资格内容</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="expertGroup.profess" id="expertGroup.profess"
                          class="layui-textarea">#(expertGroup.profess)</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="upload2"><em class="require-mark">*</em>专业资格证书</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" name="upload2" id="upload2">
                            <i class="layui-icon"></i>上传文件
                        </button>
                        <button type="button" class="layui-hide" id="uploadBtn2"></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" for="expertGroup.project">参与项目经历</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="expertGroup.project" id="expertGroup.project"
                          class="layui-textarea">#(expertGroup.project)</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <button class="layui-btn" lay-filter="sub" lay-submit id="sub">
                保存
            </button>
            <button class="layui-btn" id="back">
                返回
            </button>
        </div>
    </form>
    <hr>
</div>

#end