#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define content()
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;color: #009688">
        <legend style="font-size: 20px;font-weight: 500;">审核汇总</legend>
    </fieldset>
    <div class="layui-row">
        <table id="dateTable" lay-filter="dateTable"></table>
    </div>
</div>

<script type="text/html" id="barOption">
    <a class="layui-btn layui-btn-xs" lay-event="see">预审报告</a>

    <a class="layui-btn layui-btn-xs" lay-event="seeFinish">终审报告</a>

    <a class="layui-btn layui-btn-xs" lay-event="setFinish">评估完成</a>

    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="refuse">驳回重评</a>

</script>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table;
        var url = "#(url)";
        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度

            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: 'true'}
                , {field: 'name', title: '项目名称', minWidth: 100, sort: true}
                , {field: 'amount', title: '预计金额(单位：元)', width: 150, sort: true, templet: '#tplMoney'}
                , {field: 'site', title: '地址', minWidth: 150}
                , {field: 'brief', title: '简介', minWidth: 150}
                , {field: 'assessmentMode', title: '评估方式', minWidth: 50, sort: true}
                , {field: 'createTime', title: '创建时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', minWidth: 300, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/project/collectTableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });
        table.on('tool(dateTable)', function (obj) {
            var data = obj.data;

            if (obj.event === 'see') {
               window.location.href = '#(ctxPath)/app/ass_review/findPageAndShow?projectId=' + data.id + '&roleType=4';
                // pop_max_show('查看预审报告', '#(ctxPath)/util/pdfView?fileID=' + identity, function () {});
            }
            else if(obj.event==="setFinish"){
                pop_show('项目评估完成确认', '#(ctxPath)/app/project/setAssessFinishedView?id=' + data.id, '450', '210', function () {
                    window.location.reload();
                });
            }
            else if(obj.event==="seeFinish"){
                window.location.href = '#(ctxPath)/app/project/finishView?id=' + data.id;
                // pop_max_show('查看终审报告', '#(ctxPath)/util/pdfView?fileID=' + identity, function () {});
            } else if (obj.event === "refuse") {
                pop_show('驳回重新评估', '#(ctxPath)/app/project/refuseFile?id=' + data.id, '400', '300', function () {
                    window.location.reload();
                });
            }
        });
    });
</script>
<script type="text/html" id="tplMoney">{{formatCurrency(d.amount)}}</script>
#end
