#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }

</style>
#end


#define content()
<div class="x-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px; color: #009688">
        <legend style="font-size: 20px;font-weight: 500;">服务机构详细信息</legend>
    </fieldset>

    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">基本信息</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">机构名称：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#(facAgency.name)" autocomplete="off" class="layui-input" />
                                    </div>
                                </div>
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">公司类型：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#(facAgency.type)" autocomplete="off" class="layui-input" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">标题</div>
                    <div class="layui-card-body">
                        内容
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">卡片面板</div>
                <div class="layui-card-body">
                    结合 layui 的栅格系统<br>
                    轻松实现响应式布局
                </div>
            </div>
        </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">卡片面板</div>
                    <div class="layui-card-body">
                        结合 layui 的栅格系统<br>
                        轻松实现响应式布局
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">统一社会信用代码：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.credit)</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">企业法人：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.person)</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">法人身份证照片：</label>
        <div class="layui-input-block">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.pictrue)</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">创办日期：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.start)</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">注册资本：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#number(facAgency.capital, ",###")</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">企业规模：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.scale)</p>人
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">业务范围：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.scope)</p>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">负责人：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.principal)</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">负责人联系方式：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.phone)</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">地址：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.address)</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">企业网站：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.website)</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">座机电话：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.landline)</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 200px">简介：</label>
        <div class="layui-input-inline">
            <p style="margin-left: 20px;margin-top: 8px">#(facAgency.resume)</p>
        </div>
    </div>

</div>
</div>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;
    });

</script>
#end