#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }

</style>
#end


#define content()
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">基本信息</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">名称：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#(facAgency.name)" autocomplete="off" class="layui-input" readonly/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">公司类型：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#(facAgency.type)" autocomplete="off" class="layui-input" readonly/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: 130px;">统一社会信用代码：</label>
                                    <div class="layui-input-block" style="margin-left:160px; width:200px;">
                                        <input type="text" value="#(facAgency.credit)" autocomplete="off" class="layui-input" readonly/>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">创办日期：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#(facAgency.start)" autocomplete="off" class="layui-input" readonly/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">注册资本：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#number(facAgency.capital, ',###')" autocomplete="off" class="layui-input" readonly/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: 130px;">企业规模：</label>
                                    <div class="layui-input-block" style="margin-left:160px;width:200px;">
                                        <input type="text" value="#(facAgency.scale)" autocomplete="off" class="layui-input" readonly/>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-row layui-col-space10 layui-form-item">
                                    <label class="layui-form-label">业务范围：</label>
                                    <div class="layui-input-block" style="width:798px;">
                                        <input type="text" value="#(facAgency.scope)" autocomplete="off" class="layui-input" readonly/>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">法人信息</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓名：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#(facAgency.person)" autocomplete="off" class="layui-input" readonly/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: 90px;">身份证照片：</label>
                                    <div class="layui-input-block" style="margin-left:120px;">
                                        <input type="text" value="#(facAgency.pictrue)" autocomplete="off" class="layui-input" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">负责人信息</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓名：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#(facAgency.principal)" autocomplete="off" class="layui-input" />
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">联系电话：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#(facAgency.phone)" autocomplete="off" class="layui-input" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">通讯信息</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">通讯地址：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#(facAgency.address)" autocomplete="off" class="layui-input" readonly/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">座机电话：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#(facAgency.landline)" autocomplete="off" class="layui-input" readonly/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">网站：</label>
                                    <div class="layui-input-block">
                                        <input type="text" value="#(facAgency.website)" autocomplete="off" class="layui-input" readonly/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">公司简介</div>
                    <div class="layui-card-body">
                        <p style="margin-left: 20px;margin-top: 8px">#(facAgency.resume)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;
    });

</script>
#end