#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer', 'upload'], function () {
        //操作对象
        var upload = layui.upload;
        var id = "#(model.id)";
        var projectId = "#(projectId)";

        //拖拽上传
        upload.render({
            elem: '#file'
            , url: '#(ctxPath)/util/uploadFile'
            , accept: 'file'
            , exts: 'pdf'
            , data: {
                description: $('#modelName').text()
            }
            , done: function (res) {
                console.log(res.data);
                if (res.code == 0) {
                    pop_close();
                    $.post('#(ctxPath)/app/project/upFile?fileId=' + res.data.fileId + '&fileTypeId=' + id + '&projectId=' + projectId);
                } else if (res.code == 1) {
                    layer.msg("文件上传失败，请重新选择上传！");
                    setTimeout(function () {
                    }, 1000);
                }
            }
            , error: function (index, upload) {
                alert("文件上传错误！请重新尝试！");
            }
        });

    });

</script>
#end

#define content()
<div class="x-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>文件上传</legend>
    </fieldset>
    <form id="person" class="layui-form x-center">
        <div class="layui-form-pane">
            <div class="layui-form-item x-center">
                <p id="modelName" style="font-size: 20px">#(model.name)</p>
            </div>

            <div class="layui-upload-drag" id="file">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
            </div>
        </div>
    </form>
</div>
#end