#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }
</style>
#end

#define content()
<div class="x-body">

    <label class="layui-form-label">专家团体名称</label>
    <div class="layui-input-inline">
        <input type="text" id="name" name="name" placeholder="专家团体名称" class="layui-input"/>
    </div>
    <div class="layui-input-inline" style="width : 80px">
        <button class="layui-btn" lay-submit="" id="search"><i class="layui-icon">&#xe615;</i>
        </button>
    </div>

    <!--隐藏id-->
    <input type="text" id="id" name="id"
           class="layui-input layui-disabled layui-hide" value="#(id)" required/>

    <div class="layui-row">
        <table id="dateTable" lay-filter="dateTable"></table>
    </div>

    <script type="text/html" id="barOption">
        #shiroHasPermission('/app/project/inviteReview')
        #[[
        {{#  if(!d.isInvite){ }}
        ]]#
        <a class="layui-btn layui-btn-xs" lay-event="invite">邀请</a>

        #[[
        {{# } else if(d.isInvite){ }}
        ]]#
        <a class="layui-btn layui-btn-disabled layui-btn-xs" disabled="disabled">√已邀请</a>
        #[[
        {{#  } }}
        ]]#
        #end
    </script>

</div>
#end

#define js()
<script type="text/javascript">

    layui.use(['table', 'layer'], function () {
        var table = layui.table, layer = layui.layer;


        // 审核通过的表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , contentType: 'application/json; charset=UTF-8'
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: 'true'}
                , {field: 'name', title: '专家团体名称', width: 100}
                , {field: 'workstate', title: '在职状态', width: 100}
                , {field: 'profess', title: '专业资格内容', width: 200}
                , {field: 'project', title: '参与项目经历', width: 200}
                , {fixed: 'right', title: '操作', align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/project/expertGroupTable?id=' + $('#id').val()
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(dateTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'invite') {
                $.ajax({
                    type: 'POST',
                    url: '#(ctxPath)/app/project/inviteReview?id=' + data.id + '&projectId=' + $('#id').val(),
                    success: function () {
                        window.location.reload();
                    }
                });
            }
        });

        $('#search').click(function () {
            table.reload('dateTable', {
                url: '#(ctxPath)/app/expert_group/tableData?name=' + $('#name').val()
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

</script>
#end