#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define content()
<div class="layui-fluid">
    <form id="searchForm" class="layui-form x-center" action="">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">项目类型</label>
                <div class="layui-input-inline">
                    <select id='projectType' name="projectType">
                        <option></option>
                        #statusOption(PaTypeNameList)
                    </select>
                </div>
                <div class="layui-input-inline" style="width : 80px">
                    <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="layui-row">
        <table id="dateTable" lay-filter="dateTable"></table>
    </div>
</div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/app/project/see')
    <a class="layui-btn layui-btn-xs" lay-event="see">查看详情</a>
    #end
</script>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer','form'], function () {
        var table = layui.table
            , form = layui.form;
        var url = "#(url)";
        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-100'    //容器高度
            , contentType: 'application/json; charset=UTF-8'
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: 'true'}
                , {field: 'name', title: '名称', minWidth: 100, sort: true}
                , {field: 'projectAssTypeName', title: '类型', width: 200, sort: true}
                , {field: 'amount', title: '预计金额（单位：元）', minWidth: 100, sort: true}
                , {field: 'site', title: '地址', minWidth: 150}
                , {field: 'assessmentMode', title: '评估方式', width: 100, sort: true}
                , {field: 'status', title: '状态', width: 100, sort: true,
                    templet: '#statusTpl(io.jboot.admin.service.entity.status.system.ProjectStatus::me(), "status")'}
                , {field: 'createTime', title: '创建时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', width: 100, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/project/projectCollectTableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });
        table.on('tool(dateTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'see') {
                pop_show('查看项目资料', '#(ctxPath)/app/project/see?id=' + data.id, '1200', '725', function () {
                });
            }
        });

        reloadTable = function (projectType) {
            table.reload('dateTable', {
                url: '#(ctxPath)/app/project/projectCollectTableData'
                , where: {
                    projectType: projectType
                } //设定异步数据接口的额外参数
            });
        };
        form.on('submit(search)', function (data) {
            reloadTable(data.field.projectType);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
#end
