#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()

#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer', 'table', 'layedit'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , table = layui.table
            , layedit = layui.layedit
            , $ = layui.jquery;

        layedit.build('brief', {
            height: 180 //设置编辑器高度
        }); //建立编辑器

        /**
         * 文件表格
         */
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: '300'    //容器高度
            , cols: [[                  //标题栏
                {field: 'name', title: '文件', align: 'center', minWidth: 600}
                , {field: 'status', title: '必需上传', align: 'center', width: 120, templet: '#statusTpl', sort: true}
                , {field: 'isUpLoad', title: '状态', align: 'center', width: 120, templet: '#isUpLoadTpl', sort: true}
                , {title: '操作', width: 120, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/project/fileTable?id=' + #(model.id) + '&paTypeID=' + #(model.paTypeID)
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , initSort: {field:'isUpLoad', type:'desc'}
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
                var last = $('.layui-table-body').first().height();
                $('.layui-table-body').first().height(last * 0.920);
            }
        });
        table.on('tool(dateTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'see') {
                pop_max_show('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, function () {
                });
            }
        });
    });

</script>
<script type="text/html" id="barOption">
    #[[
    {{#  if(d.isUpLoad){ }}
    ]]#
    <a class="layui-btn layui-btn-xs" lay-event="see">查看</a>
    #[[
    {{#  } }}
    ]]#
</script>

<script type="text/html" id="statusTpl">
    #[[
    {{#  if(d.status){ }}
    ]]#
    <span style="color: red">是</span>
    #[[
    {{#  } else { }}
    ]]#
    <span style="color: green">否</span>
    #[[
    {{#  } }}
    ]]#
</script>

<script type="text/html" id="isUpLoadTpl">
    #[[
    {{#  if(d.isUpLoad){ }}
    ]]#
    <span style="color: green">已上传</span>
    #[[
    {{#  } else { }}
    ]]#
    <span style="color: red">未上传</span>
    #[[
    {{#  } }}
    ]]#
</script>
#end

#define content()
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">项目基础信息</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space10 layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">项目名称</label>
                            <div class="layui-input-block" style="width:248px;">
                                <input type="text" value="#(model.name)" autocomplete="off" class="layui-input" readonly/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">项目类型</label>
                            <div class="layui-input-block">
                                <input type="text" value="#(model.typeName)" autocomplete="off" class="layui-input" readonly/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">预计金额</label>
                            <div class="layui-input-inline">
                                <input type="text" value="#number(model.amount, ',###')" autocomplete="off" class="layui-input"style="width: 170px" readonly/>
                            </div>
                            <div class="layui-form-mid layui-word-aux" style="margin-left: -25px">（单位：元）</div>
                        </div>
                    </div>

                    <div class="layui-row layui-col-space10 layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">地址</label>
                            <div class="layui-input-block" style="width:975px;">
                                <input type="text" value="#(model.site)" autocomplete="off" class="layui-input" readonly/>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row layui-col-space10 layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">管理部门</label>
                            <div class="layui-input-block" style="width:975px;">
                                <input type="text" value="#(management.name)" autocomplete="off" class="layui-input" readonly/>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row layui-col-space10 layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">简介</label>
                            <div class="layui-input-block" style="width:975px;">
                                <textarea class="layui-textarea" id="brief" name="brief" disabled>#(model.brief)</textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">项目文件信息</div>
                <div class="layui-card-body">
                    <table id="dateTable" lay-filter="dateTable"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">立项机构信息</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">名称</label>
                                <div class="layui-input-block">
                                    <input type="text" value="#(organization.name)" autocomplete="off" class="layui-input" readonly/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width: 130px;">组织机构代码</label>
                                <div class="layui-input-block" style="margin-left:160px; width:200px;">
                                    <input type="text" value="#(organization.code)" autocomplete="off" class="layui-input" readonly/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">地址</label>
                                <div class="layui-input-block" style="width: 570px;">
                                    <input type="text" value="#(organization.addr)" autocomplete="off" class="layui-input" readonly/>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
#end