#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define content()
<div class="layui-fluid">
    <form id="searchForm" class="layui-form x-center" action="">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">项目归属</label>
                <div class="layui-input-inline">
                    <select id='ownType' name="ownType" lay-filter="ownTypeSelect">
                        <option value="0" selected>我创建的</option>
                        <option value="1">我管理的</option>
                        <option value="2">我承接的</option>
                        <option value="3">被驳回的</option>
                    </select>
                </div>
                <label class="layui-form-label">项目类型</label>
                <div class="layui-input-inline">
                    <select id='projectType' name="projectType">
                        <option></option>
                        #statusOption(PaTypeNameList)
                    </select>
                </div>
                <div class="layui-input-inline" style="width : 80px">
                    <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="layui-row">
        <table id="dateTable" lay-filter="dateTable"></table>
    </div>
</div>

<script type="text/html" id="barOption">
    #shiroHasPermission('/app/project/see')
    <a class="layui-btn layui-btn-xs" lay-event="see">查看详情</a>
    #end
</script>

<script type="text/html" id="barOption_refuse">
    <a class="layui-btn layui-btn-xs" lay-event="know">确认</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="check">查看书面公文</a>
    #shiroHasPermission('/app/project/see')
    <a class="layui-btn layui-btn-xs" lay-event="see">项目详情</a>
    #end
</script>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer','form'], function () {
        var table = layui.table
            , form = layui.form;
        var url = "#(url)";
        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-100'    //容器高度
            , contentType: 'application/json; charset=UTF-8'
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: 'true'}
                , {field: 'name', title: '名称', minWidth: 100, sort: true}
                , {field: 'projectAssTypeName', title: '类型', width: 200, sort: true}
                , {field: 'amount', title: '预计金额(单位：元)', width: 160, sort: true, templet: '#tplMoney'}
                , {field: 'site', title: '地址', minWidth: 150}
                , {field: 'assessmentMode', title: '评估方式', width: 100, sort: true}
                , {field: 'status', title: '状态', width: 100, sort: true,
                    templet: '#statusTpl(io.jboot.admin.service.entity.status.system.ProjectStatus::me(), "status")'}
                , {field: 'createTime', title: '创建时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', width: 100, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , where: {
                ownType:0
            } //设定异步数据接口的额外参数
            , url: '#(ctxPath)/app/project/projectCollectTableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        reloadTable = function (projectType, ownType) {
            table.reload('dateTable', {
                url: '#(ctxPath)/app/project/projectCollectTableData'
                , where: {
                    projectType: projectType
                    ,ownType:ownType
                } //设定异步数据接口的额外参数
            });
        };

        function reloadTableRefuse(projectType, ownType) {
            tableIns = table.render({
                elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
                ,
                id: 'dateTable'
                ,
                even: true //开启隔行背景
                ,
                size: 'sm' //小尺寸的表格
                ,
                height: 'full-100'    //容器高度
                ,
                contentType: 'application/json; charset=UTF-8'
                ,
                cols: [[                  //标题栏
                    {type: 'numbers', fixed: true, unresize: 'true'}
                    , {field: 'name', title: '名称', width: 120, sort: true}
                    , {field: 'projectAssTypeName', title: '类型', width: 150, sort: true}
                    , {field: 'amount', title: '预计金额(单位：元)', width: 140, sort: true, templet: '#tplMoney'}
                    , {field: 'site', title: '地址', width: 160}
                    , {field: 'assessmentMode', title: '评估方式', width: 90, sort: true}
                    , {
                        field: 'status', title: '状态', width: 130, sort: true,
                        templet: '#statusTpl(io.jboot.admin.service.entity.status.system.ProjectStatus::me(), "status")'
                    }
                    , {field: 'createTime', title: '创建时间', width: 150, sort: true}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#barOption_refuse'} //这里的toolbar值是模板元素的选择器
                ]]
                ,
                url: '#(ctxPath)/app/project/projectCollectTableData?projectType=' + projectType + '&ownType=' + ownType
                ,
                method: 'get'
                ,
                request: {
                    pageName: 'pageNumber' //页码的参数名称，默认：page
                    , limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                ,
                page: true
                ,
                limits: [30, 60, 90, 150, 300]
                ,
                limit: 30 //默认采用30
                ,
                loading: true
                ,
                done: function (res, curr, count) {
                }
            });
        }

        form.on('submit(search)', function (data) {
            reloadTable(data.field.projectType, data.field.ownType);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        form.on('select(ownTypeSelect)', function(data){
            console.log(data.value);
            if (data.value == 3) {
                reloadTableRefuse($('#projectType').val(), data.value);
            }
            reloadTable($('#projectType').val(), data.value);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        table.on('tool(dateTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'see') {
                pop_show_full('查看项目资料', '#(ctxPath)/app/project/see?id=' + data.id, function () {
                });
            } else if (obj.event === 'know') {
                layer.open({
                    content: '执行操作后文件将无法查看，确认备份后再确认！'
                    , btn: ['确认', '返回备份']
                    , yes: function (index, layero) {
                        function know(callback) {
                            window.location.href = '#(ctxPath)/app/project/know?id=' + data.id;
                        }

                        know(reloadTableRefuse($('#projectType').val(), data.value));
                    }
                    , btn2: function (index, layero) {
                        //按钮【按钮二】的回调
                        reloadTableRefuse($('#projectType').val(), data.value);
                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                    , cancel: function () {
                        //右上角关闭回调
                        return false //开启该代码可禁止点击该按钮关闭
                    }
                });
            } else if (obj.event === 'check') {
                pop_show('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, '', '500', function () {
                });
            }
        });

    });
</script>
<script type="text/html" id="tplMoney">{{formatCurrency(d.amount)}}</script>
#end
