#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
#end

#define js()
<script type="text/javascript">
    var now = new Date();
    var start = now.getTime();  // 将当前时间转换为时间戳
    var end = start + 24*60*60*1000*7; //结束时间

    //控制输入框的数值在min和max之间
    function checkNum(val, id, min, max) {
        if(val == '')return;
        document.getElementById(id).value = val >= min && val <= max ? val : 1;
    }

    layui.use(['form', 'layer','laydate'], function () {
        var layer = layui.layer
            , laydate = layui.laydate
            , form = layui.form;

        laydate.render({
            elem: '#deadTime'
            ,type: 'datetime'
            ,format: 'yyyy-MM-dd HH:mm:ss'
            ,value: now
            ,min: start
            ,max: end
        });

        //操作对象
        var id = "#(id)";
        var projectId = "#(projectId)";
        var orgType = "#(orgType)";

        $('#submit').click(function () {
            var num = $('#num').val();
            var deadTime = $('#deadTime').val();

            $.getJSON('#(ctxPath)/app/project/inviteReview', {
                id: id,
                projectId: projectId,
                orgType: orgType,
                num: num,
                deadTime: deadTime
            }, function (res) {
                pop_close();
            });
        });
    });

</script>
#end

#define content()
<div class="x-body">
    <form id="person" class="layui-form x-center">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label"><em class="require-mark">*</em>截止时间</label>
                <div class="layui-input-block">
                    <input id="deadTime" lay-verify="required" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><em class="require-mark">*</em>人数</label>
                <div class="layui-input-block">
                    <input id="num" lay-verify="required" autocomplete="off" placeholder="请输入所需人数(1~3)" class="layui-input"
                        type="number" style="ime-mode:Disabled"  oninput="checkNum(this.value, this.id, 1, 3)"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">组织名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" value="#(orgName)" readonly/>
                </div>
            </div>

            <hr>

            <div class="layui-form-item">
                <label class="layui-form-label">项目名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" value="#(pModel.name)" readonly />
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">预计金额</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" value="#number(pModel.amount, ',###')元" readonly />
                </div>
            </div>
        </div>
        <br/>
        <div class="layui-input-block layui-inline x-center">
            <button type="button" class="layui-btn" id="submit">
                确定
            </button>
        </div>
    </form>
</div>
#end