#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
#end

#define js()
<script type="text/javascript">
    var now = new Date();
    now.setDate(now.getDate() + 3);
    var start = now.getTime();  // 将当前时间转换为时间戳
    var end = start + 24*60*60*1000*30; //结束时间

    layui.use(['form', 'layer','laydate'], function () {
        var layer = layui.layer
            , laydate = layui.laydate
            , form = layui.form;

        laydate.render({
            elem: '#deadTime'
            ,type: 'datetime'
            ,format: 'yyyy-MM-dd HH:mm:ss'
            ,value: now
            ,min: start
            ,max: end
        });

        //操作对象
        var id = "#(id)";
        var projectId = "#(projectId)";
        var orgType = "#(orgType)";

        $('#submit').click(function (data) {
            $.getJSON('#(ctxPath)/app/project/inviteReview', {
                id: id,
                projectId: projectId,
                orgType: orgType,
                num: $('#num').val(),
                deadTime: $('#deadTime').val()
            }, function (res) {
                pop_close();
            });
        });
    });

</script>
#end

#define content()
<div class="x-body">
    <form id="person" class="layui-form x-center">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">截止时间</label>
                <div class="layui-input-block">
                    <input id="deadTime" lay-verify="required" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">邀请人数</label>
                <div class="layui-input-block">
                    <select id='num' name="num" lay-filter="numSelect">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">组织名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" value="#(orgName)" readonly/>
                </div>
            </div>

            <hr>

            <div class="layui-form-item">
                <label class="layui-form-label">项目名称</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" value="#(pModel.name)" readonly />
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">预计金额</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" value="#number(pModel.amount, ',###')元" readonly />
                </div>
            </div>
        </div>
        <br/>
        <div class="layui-input-block layui-inline x-center">
            <button type="button" class="layui-btn" id="submit">
                确定
            </button>
        </div>
    </form>
</div>
#end