#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define content()
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;color: #009688">
        <legend style="font-size: 20px;font-weight: 500;">审查请求</legend>
    </fieldset>
    <div class="layui-row">
        <table id="dateTable" lay-filter="dateTable"></table>
    </div>
</div>

<script type="text/html" id="barOption">
    #[[
    {{#  if(d.status === '0'){ }}
    ]]#
    <a class="layui-btn layui-btn-xs" lay-event="agree">同意</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="refuse">拒绝</a>
    #[[
    {{# } else if(d.status === '5'){ }}
    ]]#
    <a class="layui-btn layui-btn-xs" lay-event="choose">选择审查人员</a>
    #[[
    {{# } else if(d.status === '6'){ }}
    ]]#
    <!--<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="invited">审查详情</a>-->
    #[[
    {{#  } }}
    ]]#
    <a class="layui-btn layui-btn-xs" lay-event="see">查看项目资料</a>
</script>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var id = null;
        var table = layui.table;
        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度

            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: 'true'}
                , {field: 'name', title: '项目名称', minWidth: 200, sort: true}
                , {field: 'groupType', title: '被邀请的组织身份', minWidth: 200, sort: true}
                , {field: 'sort', title: '所需人数', minWidth: 150, sort: true}
                , {field: 'createTime', title: '邀请时间', minWidth: 150, sort: true}
                , {
                    field: 'status',
                    title: '状态',
                    minWidth: 100,
                    sort: true,
                    templet: '#statusTpl(io.jboot.admin.service.entity.status.system.ApplyInviteStatus::me(), "status")'
                }
                , {title: '操作', minWidth: 200, align: 'center', toolbar: '#barOption'}
            ]]
            , url: '#(ctxPath)/app/project/orgReviewTable'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , where: {
                applyOrInvite: true, flag: 0
            }
            , done: function (res, curr, count) {
            }
        });


        table.on('tool(dateTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'see') {
                pop_show('查看项目资料', '#(ctxPath)/app/project/see?id=' + data.projectID, '1200', '700', function () {
                });
            } else if (obj.event === 'agree') {
                layer.confirm('确定接受嘛？(此操作不可逆！)', function (index) {
                    $.post("#(ctxPath)/app/project/saveInviteReview", {
                        id: data.id,
                        invite: 2,
                        type: 1,
                        orgType: data.userSource
                    }, function () {
                        layer.msg("同意成功！");
                        setTimeout(function () {
                        }, 1000);
                        window.location.reload();
                    });
                });
            } else if (obj.event === 'refuse') {
                layer.open({
                    type: 1
                    , title: false //不显示标题栏
                    , closeBtn: false
                    , area: '300px;'
                    , shade: 0.8
                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    , btn: ['残忍拒绝', '我再想想']
                    , btnAlign: 'c'
                    , moveType: 1 //拖拽模式，0或者1


                    , content: '' +
                    '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">' +
                    '<label class="layui-form-label">拒绝缘由</label>' +
                    '<textarea placeholder="请输入内容" class="layui-textarea" name="desc">' +
                    '</textarea>' +
                    '</div>'
                    , success: function (layero) {
                        var btn = layero.find('.layui-layer-btn');
                        btn.find('.layui-layer-btn0').on('click', function () {
                            var textarea = layero.find('textarea')[0];
                            $.post("#(ctxPath)/app/project/saveInviteReview", {
                                id: data.id,
                                reply: textarea.value,
                                invite: 1,
                                type: 1,
                                orgType: data.userSource
                            }, function () {
                                layer.msg("拒绝成功！");
                                setTimeout(function () {
                                }, 1000);
                                window.location.reload();
                            });
                        });
                    }
                });

            } else if (obj.event === 'choose') {
                pop_max_show('选择审查人员', '#(ctxPath)/app/project/toChooseExpert?orgType=' + data.userSource + "&projectID=" + data.projectID + "&num=" + data.sort, function () {
                    table.reload('dateTable', {
                        url: '#(ctxPath)/app/project/orgReviewTable'
                        , where: {
                            applyOrInvite: true, flag: 0
                        }
                    });
                    layer.msg("选择结束", setTimeout(500));
                });
            } else if (obj.event === 'invited') {
                pop_show_full('审查详情', '#(ctxPath)/app/project/invitedExpert?id=' + data.id, function () {
                    window.location.reload();
                });
            }
        });
    });
</script>
#end
