#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }
</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;
    });

</script>
#end

#define content()
<div class="x-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>项目相关资料</legend>
    </fieldset>
    <form id="person" class="layui-form x-center">
        <div class="layui-form-pane">

            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px">项目名称</label>
                <div class="layui-input-inline">
                    <p style="margin-left: 20px;margin-top: 8px">#(model.name)</p>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"style="width: 120px">组织机构名称</label>
                <div class="layui-input-inline">
                    <p style="margin-left: 20px;margin-top: 8px">#(organization.name)</p>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"style="width: 120px">预计金额</label>
                <div class="layui-input-inline">
                    <p style="margin-left: 20px;margin-top: 8px">#(model.amount)元</p>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"style="width: 120px">项目类型</label>
                <div class="layui-input-inline">
                    <p style="margin-left: 20px;margin-top: 8px">#(model.typeName)</p>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"style="width: 120px">地址</label>
                <div class="layui-input-inline">
                    <p style="margin-left: 20px;margin-top: 8px">#(model.site)</p>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"style="width: 120px">简介</label>
                <div class="layui-input-inline">
                    <p style="margin-left: 20px;margin-top: 8px">#(model.brief)</p>
                </div>
            </div>

        </div>
    </form>
</div>
#end