#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define content()
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">审核通过的项目</li>
        <li>审核未通过的项目</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table style="align-content: center;" id="passDataTable" lay-filter="passDataTable"></table>
        </div>
        <div class="layui-tab-item">
            <table style="align-content: center;" id="unPassDataTable" lay-filter="unPassDataTable"></table>
        </div>
    </div>
</div>
<script type="text/html" id="barOption-publicStatus">
    #shiroHasPermission('/app/project/verfedSuccess')
    #[[
    {{#  if(!d.isPublic && d.assessmentMode == '委评'&&!d.isReceive){ }}
    ]]#
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="public">发布</a>

    #[[
    {{# } else if(d.isPublic && d.assessmentMode == '委评'&&!d.isReceive){ }}
    ]]#
    <a class="layui-btn layui-btn-disabled layui-btn-xs" disabled="disabled">已发布</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="invite">邀请介入</a>

    #[[
    {{# } else if(d.assessmentMode == '自评'){ }}
    ]]#
    <a class="layui-btn layui-btn-disabled layui-btn-xs" disabled="disabled">无需发布</a>
    #[[
    {{# } else if((d.isPublic && d.assessmentMode == '委评'&&d.isReceive)){ }}
    ]]#
    <a class="layui-btn layui-btn-disabled layui-btn-xs" disabled="disabled">已委托成功</a>
    #[[
    {{#  } }}
    ]]#
    #end
</script>

<script type="text/html" id="barOption">
    #shiroHasPermission('/app/project/see')
    <a class="layui-btn layui-btn-xs" lay-event="see">查看项目资料</a>
    #end
</script>


<script type="text/html" id="barOptionUnPass">
    #shiroHasPermission('/app/project/see')
    <a class="layui-btn layui-btn-xs" lay-event="see">查看项目资料</a>
    #end

    #shiroHasPermission('/app/project/buildProject')
    <a class="layui-btn layui-btn-xs" lay-event="build">补充资料</a>
    <a class="layui-btn layui-btn-xs" lay-event="send">发起审核</a>
    #end
</script>
#end

#define js()
<script type="text/javascript">

    layui.use(['element', 'table', 'layer'], function () {
        var $ = layui.jquery
            , table = layui.table
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        // 审核通过的表格渲染
        var tableIns = table.render({
            elem: '#passDataTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'passDataTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-130'    //容器高度
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: 'true'}
                , {field: 'name', title: '项目名称', minWidth: 140,sort: true}
                , {field: 'buildUserName', title: '立项用户账号', minWidth: 140,sort: true}
                , {field: 'buildOrgName', title: '立项机构名称', minWidth: 140,sort: true}
                , {field: 'assessmentMode', title: '评估方式', width: 80}
                , {field: 'amount', title: '预计金额(单位：元)', width: 160, sort: true, templet: '#tplMoney'}
                , {field: 'brief', title: '简介', minWidth: 200, sort: true}
                , {field: 'createTime', title: '创建时间', width: 150, sort: true}
                , {fixed: 'right', title: '发布状态', width: 150, align: 'center', toolbar: '#barOption-publicStatus'} //这里的toolbar值是模板元素的选择器
                , {fixed: 'right', title: '操作', width: 140, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/project/verfedSuccess'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
                // 隐藏恶心人的单元格重复问题，在修改 field 的时候务必修改此处
                $('th[data-field=6]').last().remove();
                $('td[data-field=6]').last().remove();
            }
        });

        // 审核未通过的表格渲染
        var tableIns = table.render({
            elem: '#unPassDataTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'unPassDataTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-130'    //容器高度

            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: 'true'}
                , {field: 'name', title: '项目名称', minWidth: 140,sort: true}
                , {field: 'buildOrgName', title: '立项机构', minWidth: 150, sort: true}
                , {field: 'managementName', title: '管理部门', minWidth: 150, sort: true}
                , {field: 'amount', title: '预计金额(单位：元)', width: 160, sort: true, templet: '#tplMoney'}
                , {field: 'brief', title: '简介', minWidth: 200, sort: true}
                , {field: 'reply', title: '审核未通过原因', minWidth: 200, sort: true}
                , {field: 'createTime', title: '创建时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', minWidth: 300, align: 'center', toolbar: '#barOptionUnPass'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/project/verfedDefeat'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        table.on('tool(passDataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'see') {
                pop_show('查看项目资料', '#(ctxPath)/app/project/see?id=' + data.id, '1200', '750', function () {
                });
            } else if (obj.event === 'public') {
                pop_show('公开项目', '#(ctxPath)/app/project/isPublicMessage?id=' + data.id, '747', '530', function () {
                    window.location.reload();
                });
            } else if (obj.event === 'invite') {
                pop_show('邀请介入', '#(ctxPath)/app/project/inviteChoose?id=' + data.id + '&type=0', '1200', '', function () {
                    window.location.reload();
                });
            }
        });

        table.on('tool(unPassDataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'see') {
                pop_show('查看项目资料', '#(ctxPath)/app/project/see?id=' + data.id, '1200', '750', function () {
                });
            } else if (obj.event === 'build') {
                window.location.href = '#(ctxPath)/app/project/projectMessage?id=' + data.id;
            } else if (obj.event === 'send') {
                layer.confirm('确定发起审核吗？(审核过程中不可编辑资料！)', function (index) {
                    $.post('#(ctxPath)/app/project/sendAssessment', {
                        id: data.id
                    }, function (res) {
                        if (res.status == true) {
                            layer.msg("发起审核成功！");
                            layer.close(index);
                            window.location.reload();
                        } else if (res.status == false) {
                            layer.msg("请先将项目相关资料补充完整！");
                            layer.close(index);
                        }
                    });
                });
            }
        });
    });
</script>
<script type="text/html" id="tplMoney">{{formatCurrency(d.amount)}}</script>
#end
