#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/css/zTreeStyle/zTreeStyle.css" type="text/css">
<style>
    .pdfobject-container {
        width: 48%;
        height: 100%;
        padding: 5em 0;
    }

    html, body {
        height: 97%;
    }

    ul {
        padding: 0px 10px;
    }
</style>
#end

#define js()
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/pdf/pdfobject.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/pdf/pdfjs/core/pdf.js"></script>
<script type="text/javascript">
    var options = {
        forcePDFJS: true,
        PDFJS_URL: "/static/js/pdf/pdfjs/web/viewer.html"
    };
    PDFObject.embed("", "#pdfviewer", options);
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: zTreeOnClick
        },
        view: {
            showTitle: true
        }
    };

    function zTreeOnClick(event, treeId, treeNode) {
        PDFObject.embed(treeNode.title, "#pdfviewer", options);
        layui.use('flow', function () {
            var $ = layui.jquery;
            var flow = layui.flow;
            flow.load({
                elem: '#recomment'
                , done: function (page, next) {
                    var lis = [];
                    $.get('#(ctxPath)/app/ass_review/findProAssReviewByFileIdAndProjectId', function (res) {
                        var liTagS = '<li class="layui-timeline-item">';
                        var timeLineIcon = '<i class="layui-icon layui-timeline-axis">&#xe63f;</i>';
                        var timeLineContentDivS = '<div class="layui-timeline-content layui-text">';
                        var timeTxtTagS = '<h3 class="layui-timeline-title">';
                        var timeTxtTagE = '</h3>';
                        var reTitle = '评估审查意见：';
                        var timeLineContentDivE = '</div>';
                        var liTagE = '</li>';
                        var liItem = '';
                        $("ul#recomment").find("li").remove();
                        $("div.layui-flow-more").remove();
                        layui.each(res.data, function (index, item) {
                            if (item) {
                                if (item.recomment) {
                                    liItem = '';
                                    liItem += liTagS;
                                    liItem += timeLineIcon;
                                    liItem += timeLineContentDivS;
                                    liItem += timeTxtTagS;
                                    liItem += item.createTime;
                                    liItem += timeTxtTagE;
                                    liItem += reTitle;
                                    liItem += item.recomment;
                                    liItem += '<hr class="layui-bg-gray">';
                                    liItem += '意见反馈：';
                                    if (item.feedback) {
                                        liItem += item.feedback;
                                    } else {
                                        liItem += '暂无';
                                    }
                                    liItem += timeLineContentDivE;
                                    liItem += liTagE;
                                    $("ul#recomment").append(liItem);
                                    lis.push(liItem);
                                }
                            }
                        });
                         //$("ul#recomment").innerText = lis;
                        //next(lis.join(''));
                    });
                }
            });
        });
    }

    function zTreeReload() {
        util.sendAjax({
            url: '#(ctxPath)/app/ass_review/fileTree',
            notice: false,
            success: function (data) {
                $.fn.zTree.init($("#tree"), setting, data.data);
            }
        });
    }

    $(document).ready(function () {
        zTreeReload();
    });
</script>
#end

#define content()
<div class="layui-fluid" style="height:100%;">
    <div class="layui-row" style="min-height:600px">
        <div class="layui-col-md3">
            <ul id="tree" class="ztree"></ul>
        </div>
        <div id="pdfviewer" class="layui-col-md9" style="min-height:500px"></div>
        <div class="layui-col-md3">
            <ul id="recomment"></ul>
        </div>
    </div>
</div>
#end