#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/css/zTreeStyle/zTreeStyle.css" type="text/css">
<style>
    .pdfobject-container {
        width: 48%;
        height: 100%;
        padding: 5em 0;
    }
    html,body{
        height:97%;
    }
</style>
#end

#define js()
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/pdf/pdfobject.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/pdf/pdfjs/core/pdf.js"></script>
<script type="text/javascript">
    var options = {
        forcePDFJS: true,
        PDFJS_URL: "/static/js/pdf/pdfjs/web/viewer.html"
    };
    PDFObject.embed("","#pdfviewer",options);
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: zTreeOnClick
        },
        view:{
            showTitle:true
        }
    };

    function zTreeOnClick(event, treeId, treeNode) {
        PDFObject.embed(treeNode.title,"#pdfviewer",options);
        util.sendAjax ({
            url : '#(ctxPath)/app/ass_review/findProAssReviewByFileIdAndProjectId',
            notice: false,
            success:function(data){

            }
        });
    }

    function zTreeReload() {
        util.sendAjax ({
            url : '#(ctxPath)/app/ass_review/fileTree',
            notice: false,
            success : function(data){
                $.fn.zTree.init($("#tree"), setting, data.data);
            }
        });
    }

    $(document).ready(function(){
        zTreeReload();
    });

</script>
#end

#define content()
<div class="layui-fluid" style="height:100%;">
    <div class="layui-row" style="height:100%;">
        <div class="layui-col-md3" style="overflow:auto;height:100%;">
            <ul id="tree" class="ztree" style="height:95%;"></ul>
        </div>
        <div id="pdfviewer" class="layui-col-md6" style="height:100%;"></div>
        <div class="layui-col-md3">
            #for(item : proAssReviews)
                <div style="background:green;width:100%">#(item.recomment)</div>
                <div style="background:red;width:100%">#(item.feedback)</div>
            #end
        </div>
    </div>
</div>
#end