#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<link rel="stylesheet" href="#(RESOURCE_HOST)/static/css/zTreeStyle/zTreeStyle.css" type="text/css">
<style>
    .layui-colla-title {
        background-color: #009688;
        border-radius: 3px;
    }

    .layui-colla-content, .layui-colla-item {
        margin-bottom: 10px;

    }
</style>
#end

#define js()
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript">
    var pid = '#(parentID)';
    var projectID = '#(projectID)';
    var fileTypeID = null;
    var reloadTable;


    layui.use(['table', 'layer', 'upload', 'element'], function () {
        var $ = layui.jquery;
        function isLive(_fileTypeID,_projectID) {
            $.post('#(ctxPath)/util/isLive?fileTypeID='+_fileTypeID+'&projectID='+_projectID, function (data) {
                if(data.msg=="1") {
                    $("button[fileTypeId*='" + _fileTypeID + "']").text("已上传(更改)");
                    $("button[fileTypeId*='" + _fileTypeID + "']").attr("isUpdate", "1");
                    if(_fileTypeID == 112)
                        $('#degree').removeClass("layui-hide");
                    else
                        $('#exponent').removeClass("layui-hide");
                }
            });

        }
        isLive("112", projectID);
        isLive("113", projectID);
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , element = layui.element
            , upload = layui.upload;

        //创建监听函数
        var xhrOnProgress = function (fun) {
            xhrOnProgress.onprogress = fun; //绑定监听
            //使用闭包实现监听绑
            return function () {
                //通过$.ajaxSettings.xhr();获得XMLHttpRequest对象
                var xhr = $.ajaxSettings.xhr();
                //判断监听函数是否为函数
                if (typeof xhrOnProgress.onprogress !== 'function')
                    return xhr;
                //如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
                if (xhrOnProgress.onprogress && xhr.upload) {
                    xhr.upload.onprogress = xhrOnProgress.onprogress;
                }
                return xhr;
            }
        };

        // 表格渲染
        var tableIns_1 = table.render({
            elem: '#dateTable_1'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable_1'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: '330'    //容器高度
            , toolbar: '#toolbarTable'
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: true}
                , {field: 'orginalFileName', title: '名称', minWidth: 200, sort: true}
                , {field: 'createTime', title: '上传时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', width: 120, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/fileupload/tableData?fileTypeID=' + 24 + '&projectID=' + projectID
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: false
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
                var flag = '#(flag)';
                if (flag === "true") {
                    $('.del').remove();
                    $('.add').remove();
                }
            }
        });

        var tableIns_2 = table.render({
            elem: '#dateTable_2'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable_2'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: '330'    //容器高度
            , toolbar: '#toolbarTable'
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: true}
                , {field: 'orginalFileName', title: '名称', minWidth: 200, sort: true}
                , {field: 'createTime', title: '上传时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', width: 120, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/fileupload/tableData?fileTypeID=' + 25 + '&projectID=' + projectID
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: false
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
                var flag = '#(flag)';
                if (flag === "true") {
                    $('.del').remove();
                    $('.add').remove();
                }
            }
        });

        var tableIns_3 = table.render({
            elem: '#dateTable_3'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable_3'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: '330'    //容器高度
            , toolbar: '#toolbarTable'
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: true}
                , {field: 'orginalFileName', title: '名称', minWidth: 200, sort: true}
                , {field: 'createTime', title: '上传时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', width: 120, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/fileupload/tableData?fileTypeID=' + 26 + '&projectID=' + projectID
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: false
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
                var flag = '#(flag)';
                if (flag === "true") {
                    $('.del').remove();
                    $('.add').remove();
                }
            }
        });

        var tableIns_4 = table.render({
            elem: '#dateTable_4'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable_4'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: '330'    //容器高度
            , toolbar: '#toolbarTable'
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: true}
                , {field: 'orginalFileName', title: '名称', minWidth: 200, sort: true}
                , {field: 'createTime', title: '上传时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', width: 120, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/fileupload/tableData?fileTypeID=' + 27 + '&projectID=' + projectID
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: false
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
                var flag = '#(flag)';
                if (flag === "true") {
                    $('.del').remove();
                    $('.add').remove();
                }
            }
        });

        var tableIns_5 = table.render({
            elem: '#dateTable_5'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable_5'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: '330'    //容器高度
            , toolbar: '#toolbarTable'
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: true}
                , {field: 'orginalFileName', title: '名称', minWidth: 200, sort: true}
                , {field: 'createTime', title: '上传时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', width: 120, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/fileupload/tableData?fileTypeID=' + 28 + '&projectID=' + projectID
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: false
            , loading: true
            , done: function (res, curr, count) {
                var flag = '#(flag)';
                if (flag === "true") {
                    $('.del').remove();
                    $('.add').remove();
                }
            }
        });

        var tableIns_6 = table.render({
            elem: '#dateTable_6'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable_6'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: '330'    //容器高度
            , toolbar: '#toolbarTable'
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: true}
                , {field: 'orginalFileName', title: '名称', minWidth: 200, sort: true}
                , {field: 'createTime', title: '上传时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', width: 120, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/fileupload/tableData?fileTypeID=' + 110 + '&projectID=' + projectID
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: false
            , loading: true
            , done: function (res, curr, count) {
                var flag = '#(flag)';
                if (flag === "true") {
                    $('.del').remove();
                    $('.add').remove();
                }
            }
        });

        table.on('tool(dateTable_1)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    util.sendAjax({
                        type: 'POST',
                        url: '#(ctxPath)/app/fileupload/delete',
                        data: {
                            id: data.id,
                            projectID: projectID
                        },
                        loadFlag: true,
                        success: function (data) {
                            layer.close(index);
                            reloadTable("dateTable_1", 24);
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if (obj.event === 'view') {
                pop_max_show('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, function () {
                });

            }
        });

        table.on('tool(dateTable_2)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    util.sendAjax({
                        type: 'POST',
                        url: '#(ctxPath)/app/fileupload/delete',
                        data: {
                            id: data.id,
                            projectID: projectID
                        },
                        loadFlag: true,
                        success: function (data) {
                            layer.close(index);
                            reloadTable("dateTable_2", 25);
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if (obj.event === 'view') {
                pop_max_show('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, function () {
                });
            }
        });

        table.on('tool(dateTable_3)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    util.sendAjax({
                        type: 'POST',
                        url: '#(ctxPath)/app/fileupload/delete',
                        data: {
                            id: data.id,
                            projectID: projectID
                        },
                        loadFlag: true,
                        success: function (data) {
                            layer.close(index);
                            reloadTable("dateTable_3", 26);
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if (obj.event === 'view') {
                pop_max_show('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, function () {
                });
            }
        });

        table.on('tool(dateTable_4)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    util.sendAjax({
                        type: 'POST',
                        url: '#(ctxPath)/app/fileupload/delete',
                        data: {
                            id: data.id,
                            projectID: projectID
                        },
                        loadFlag: true,
                        success: function (data) {
                            layer.close(index);
                            reloadTable("dateTable_4", 27);
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if (obj.event === 'view') {
                pop_max_show('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, function () {
                });
            }
        });

        table.on('tool(dateTable_5)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    util.sendAjax({
                        type: 'POST',
                        url: '#(ctxPath)/app/fileupload/delete',
                        data: {
                            id: data.id,
                            projectID: projectID
                        },
                        loadFlag: true,
                        success: function (data) {
                            layer.close(index);
                            reloadTable("dateTable_5", 28);
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if (obj.event === 'view') {
                pop_max_show('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, function () {
                });
            }
        });

        table.on('tool(dateTable_6)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    util.sendAjax({
                        type: 'POST',
                        url: '#(ctxPath)/app/fileupload/delete',
                        data: {
                            id: data.id,
                            projectID: projectID
                        },
                        loadFlag: true,
                        success: function (data) {
                            layer.close(index);
                            reloadTable("dateTable_6", 110);
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if (obj.event === 'view') {
                pop_max_show('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, function () {
                });
            }
        });

        //监听头部工具栏按钮事件
        table.on('toolbar(dateTable_6)', function(obj){
            if(obj.event === 'upload'){
                pop_show('上传 "初始风险权重" 文件', '#(ctxPath)/app/project/fileUploading?id=' + 110 + '&projectId=' + projectID, '500', '300', function () {
                    layer.msg("上传成功！");
                    reloadTable("dateTable_6", 110);
                });
            };
        });

        //监听头部工具栏按钮事件
        table.on('toolbar(dateTable_1)', function(obj){
            if(obj.event === 'upload'){
                pop_show('上传 "采取措施后风险权重" 文件', '#(ctxPath)/app/project/fileUploading?id=' + 24 + '&projectId=' + projectID, '500', '300', function () {
                    layer.msg("上传成功！");
                    reloadTable("dateTable_1", 24);
                });
            };
        });

        //监听头部工具栏按钮事件
        table.on('toolbar(dateTable_2)', function(obj){
            if(obj.event === 'upload'){
                pop_show('上传 "初始风险排查表" 文件', '#(ctxPath)/app/project/fileUploading?id=' + 25 + '&projectId=' + projectID, '500', '300', function () {
                    layer.msg("上传成功！");
                    reloadTable("dateTable_2", 25);
                });
            };
        });

        //监听头部工具栏按钮事件
        table.on('toolbar(dateTable_3)', function(obj){
            if(obj.event === 'upload'){
                pop_show('上传 "主要风险筛选表" 文件', '#(ctxPath)/app/project/fileUploading?id=' + 26 + '&projectId=' + projectID, '500', '300', function () {
                    layer.msg("上传成功！");
                    reloadTable("dateTable_3", 26);
                });
            };
        });

        //监听头部工具栏按钮事件
        table.on('toolbar(dateTable_4)', function(obj){
            if(obj.event === 'upload'){
                pop_show('上传 "初始风险评估结论" 文件', '#(ctxPath)/app/project/fileUploading?id=' + 27 + '&projectId=' + projectID, '500', '300', function () {
                    layer.msg("上传成功！");
                    reloadTable("dateTable_4", 27);
                });
            };
        });

        //监听头部工具栏按钮事件
        table.on('toolbar(dateTable_5)', function(obj){
            if(obj.event === 'upload'){
                pop_show('上传 "四性分析" 文件', '#(ctxPath)/app/project/fileUploading?id=' + 28 + '&projectId=' + projectID, '500', '300', function () {
                    layer.msg("上传成功！");
                    reloadTable("dateTable_5", 28);
                });
            };
        });

        upload.render({
            elem: '.upFile'
            , url: '#(ctxPath)/util/uploadFile'
            , accept: 'file'
            , exts: 'pdf|png|jpeg|jpg'
            , xhr: xhrOnProgress
            , progress: function (value) {//上传进度回调 value进度值
                element.progress('upload-progress', value + '%')//设置页面进度条
            }
            , data: {
            }, before: function (res) {
            }, done: function (res) {
                <!--$('.loading-bg').remove();-->
                $('#upload-progress').addClass('layui-hide');
                var ele = $(this)[0].item;
                if (res.code == 0) {
                    postUpdateFileID('EvaCover', res.data.fileId, projectID);
                    $(ele.text("已上传（更改）"));
                    $(ele.attr("isUpdate","1"));
                    $('#exponent').removeClass("layui-hide");
                }
            }, error: function (index, upload) {
                layer.msg("文件上传错误！请重新尝试！");
            }
        });

        upload.render({
            elem: '.upFile_2'
            , url: '#(ctxPath)/util/uploadFile'
            , accept: 'file'
            , exts: 'pdf|png|jpeg|jpg'
            , xhr: xhrOnProgress
            , progress: function (value) {//上传进度回调 value进度值
            }
            , data: {
                description: $('#modelName').text()
            }, before: function (res) {
            }, done: function (res) {
                <!--$('.loading-bg').remove();-->
                var ele = $(this)[0].item;
                if (res.code == 0) {
                    postUpdateFileID('EvaCover_2', res.data.fileId, projectID);
                    $(ele.text("已上传（更改）"));
                    $(ele.attr("isUpdate","1"));
                    $('#degree').removeClass("layui-hide");
                }
            }, error: function (index, upload) {
                layer.msg("文件上传错误！请重新尝试！");
            }
        });


        $(".CoverSee").click(function () {
            if ($("button[fileTypeId*='113']").attr("isUpdate")==="0") {
                layer.msg("还没有上传文件哦")
            } else {
                pop_max_show('查看封面文件', '#(ctxPath)/util/projectFileView?fileTypeID=113&projectID='+projectID, function () {
                });
            }
        });

        $(".CoverSee_2").click(function () {
            if ($("button[fileTypeId*='112']").attr("isUpdate")==="0") {
                layer.msg("还没有上传文件哦")
            } else {
                pop_max_show('查看封面文件', '#(ctxPath)/util/projectFileView?fileTypeID=112&projectID='+projectID, function () {
                });
            }
        });

        reloadTable = function (dateTable, fileTypeId) {
            table.reload(dateTable, {
                url: '#(ctxPath)/app/fileupload/tableData'
                , where: {
                    fileTypeID: fileTypeId,
                    projectID: projectID
                } //设定异步数据接口的额外参数
            });
        };

        var flag = '#(flag)';
        if (flag === "true") {
            $('#del').remove();
            $('#add').remove();
            $("button[fileTypeId*='112']").hide();
            $("button[fileTypeId*='113']").hide();
            $('#exponent').addClass("layui-hide");
            $('#degree').addClass("layui-hide");
        }
    });

    function postFileID(_fileTypeID, _fileID, _projectID) {
        id = _fileTypeID;
        util.sendAjax({
            type: 'POST',
            url: '#(ctxPath)/app/fileupload/save',
            data: {
                'fileProject.fileID': _fileID,
                'fileProject.projectID': _projectID,
                'fileProject.fileTypeID': $("#" + _fileTypeID).attr("fileTypeId")
            },
            loadFlag: true,
            success: function (data) {
                reloadTable("dateT" + id.slice(1));
            },
            unSuccess: function (data) {
            }
        })
    }

    function postUpdateFileID(_fileTypeID, _fileID, _projectID) {
        id = _fileTypeID;
        util.sendAjax({
            type: 'POST',
            url: '#(ctxPath)/app/fileupload/saveOrUpdate',
            data: {
                'fileProject.fileID': _fileID,
                'fileProject.projectID': _projectID,
                'fileProject.fileTypeID': $("#" + _fileTypeID).attr("fileTypeId")
            },
            loadFlag: true,
            success: function (data) {
            },
            unSuccess: function (data) {
            }
        })
    }



</script>
#end

#define content()
<div class="layui-fluid layui-form-pane">
    <div class="layui-card" style="padding: 10px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">项目初始综合风险指数计算表</div>
                    <div class="layui-card-body">
                        <button type="button" class="upFile layui-btn layui-icon" fileTypeId="113"  id="EvaCover" isUpdate="0">上传文件</button>
                        <button type="button" class="layui-btn CoverSee layui-hide" name="exponent" id="exponent" >查看文件</button>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">主要单因素风险初始风险程度表</div>
                    <div class="layui-card-body">
                        <button type="button" class="upFile_2 layui-btn layui-icon" fileTypeId="112" id="EvaCover_2" isUpdate="0">上传文件</button>
                        <button type="button" class="layui-btn CoverSee_2 layui-hide" name="degree" id="degree" >查看文件</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card" style="padding: 10px; background-color: #F2F2F2;">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="background-color: white; height: 400px;">
            <ul class="layui-tab-title">
                <li class="layui-this">初始风险权重</li>
                <li>采取措施后风险权重</li>
                <li>初始风险排查表</li>
                <li>主要风险筛选表</li>
                <li>初始风险评估结论</li>
                <li>四性分析</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table id="dateTable_6" lay-filter="dateTable_6"></table>
                </div>
                <div class="layui-tab-item">
                    <table id="dateTable_1" lay-filter="dateTable_1"></table>
                </div>
                <div class="layui-tab-item">
                    <table id="dateTable_2" lay-filter="dateTable_2"></table>
                </div>
                <div class="layui-tab-item">
                    <table id="dateTable_3" lay-filter="dateTable_3"></table>
                </div>
                <div class="layui-tab-item">
                    <table id="dateTable_4" lay-filter="dateTable_4"></table>
                </div>
                <div class="layui-tab-item">
                    <table id="dateTable_5" lay-filter="dateTable_5"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="toolbarTable">
    <div class="layui-btn-container">
        #shiroHasPermission('/app/project/evaluation')
        <button class="layui-btn layui-btn-sm" lay-event="upload">上传文档</button>
        #end
    </div>
</script>

<script type="text/html" id="barOption">
    <a class="layui-btn layui-btn-xs" lay-event="view" id="view">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs del" lay-event="del" id="del">删除</a>
</script>

#end