#include("/template/common/layout/_page_layout_all.html")
#@layout()

#define css()
<style>
    .title {
        color: #009688;
        font-weight: 700;
        font-family: "微软雅黑";
    }
</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer,
            $ = layui.jquery;
        $('#person').click(function () {
            window.location.href = "#(ctxPath)/app/information/personOrOrganization?projectId=#(projectId)&type=0";
        });
        $('#organization').click(function () {
            window.location.href = "#(ctxPath)/app/information/personOrOrganization?projectId=#(projectId)&type=1";
        });
        $('#ret').click(function () {
            window.location.href = "#(ctxPath)/app/information/list?id=#(projectId)&url=/app/information/questionnaire";
        });
    });
</script>
#end

#define content()
<div class="layui-row">
    <br>
    <h2 class="title" align="center">添加社会稳定风险评估调查问卷表</h2><br>
    <br>
    <div style="width: 580px;height: auto;margin: 100px auto">
        <button id="person" class="layui-btn layui-btn-radius layui-btn-lg">添加个人问卷调查表</button>
        <button id="organization" class="layui-btn layui-btn-radius layui-btn-lg">添加团体问卷调查表</button>
        <button id="ret" class="layui-btn layui-btn-radius layui-btn-lg">返回上级界面</button>
    </div>

</div>
#end