#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer', 'table'], function () {
        var layer = layui.layer
            , $ = layui.jquery
            , table = layui.table;

        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-150'    //容器高度
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: 'true'}
                , {field: 'name', title: '项目名称', width: 150}
                , {field: 'tag', title: '标签', width: 200}
                , {field: 'site', title: '地址', width: 150}
                , {field: 'brief', title: '简介', width: 500}
                , {field: 'id', title: 'id' ,width:0}
                , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器

            ]]
            , url: '#(ctxPath)/app/information/tableData'
            , method: 'get'
            , loading: true
            , done: function (res, curr, count) {
                $('[data-field="id"]').css("display","none");
            }


        });
        table.on('tool(dateTable)', function (obj) {
            var data = obj.data;
            if (obj.event === "edit"){
                window.location.href = "#(ctxPath)/app/information/edit?id=" + data.id;
            }
        });

    });
</script>
#end

#define content()
<div class="layui-row">
    <table id="dateTable" lay-filter="dateTable"></table>
</div>
<script type="text/html" id="barOption">
    <a class="layui-btn layui-btn-danger layui-btn-xs " lay-event="edit">资料填写</a>
</script>
#end
