#include("/template/common/layout/_page_layout_all.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['layer', 'form', 'table'], function () {
        var layer = layui.layer,
            $ = layui.jquery,
            util = layui.util,
            table = layui.table;

        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: 'full-80'    //容器高度
            , toolbar: '#toolbarTable'
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: true}
                , {field: 'expertName', title: '专家姓名', width: 120}
                , {field: 'remark', title: '类型', width: 140}
                , {field: 'riskFactor', title: '风险因素', minWidth: 200}
                , {field: 'riskExpertise', title: '风险概率专家意见', width: 130,
                    templet: '#statusTpl(io.jboot.admin.service.entity.status.system.RiskExpertise::me(), "riskExpertise")'}
                , {field: 'riskProbability', title: '风险概率(P)单位(%)', width: 140}
                , {field: 'incidenceExpertise', title: '影响程度专家意见', width: 130,
                    templet: '#statusTpl(io.jboot.admin.service.entity.status.system.IncidenceExpertise::me(), "incidenceExpertise")'}
                , {field: 'incidenceProbability', title: '影响程度概率(Q)单位(%)', width: 165}
                , {field: 'riskLevel', title: '风险程度（R=p*q）', width: 140}
                , {field: 'createTime', title: '填写时间', width: 150}
                , {fixed: 'right', title: '操作', width: 80, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/information/toInitialRiskExpertiseDataTable'
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , where: {
                projectID: "#(projectID)"
            }
            , done: function (res, curr, count) {
                var flag = '#(flag)';
                if (flag === "true") {
                    $('#add').remove();
                    $('#del').remove();
                    $('.del').remove();
                }
            }
        });

        table.on('tool(dateTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                pop_show_full('编辑风险因素及其风险程度', '#(ctxPath)/app/information/toRiskExpertise?projectID=#(projectID)&flag=#(flag)&type=' + data.remark + '&id=' + data.id, function () {
                    layer.msg("操作成功！");
                    reloadTable();
                });
            } else if (obj.event === 'delete') {
                layer.confirm('确定删除吗？', function (index) {
                    $.post("#(ctxPath)/app/information/chooseRiskExpertiseDelete", {id: data.id}, function (e) {
                        layer.close(index);
                        layer.msg("删除成功！");
                        reloadTable();
                    });
                });
            }
        });

        //监听头部工具栏按钮事件
        table.on('toolbar(dateTable)', function(obj){
            if(obj.event === 'initial'){
                pop_show_full('添加初始风险因素及其风险程度', "#(ctxPath)/app/information/toRiskExpertise?projectID=#(projectID)&type=initial", function () {
                    layer.msg("操作成功！");
                    reloadTable();
                });
            }else if(obj.event === 'result'){
                pop_show_full('添加采取措施后风险因素及其风险程度', "#(ctxPath)/app/information/toRiskExpertise?projectID=#(projectID)&type=result", function () {
                    layer.msg("操作成功！");
                    reloadTable();
                });
            };
        });

        reloadTable = function () {
            table.reload('dateTable', {
                url: '#(ctxPath)/app/information/toInitialRiskExpertiseDataTable'
                , where: {
                    projectID: "#(projectID)"
                } //设定异步数据接口的额外参数
            });
        };

        var flag = '#(flag)';
        if (flag === "true") {
            $('#add').remove();
            $('#del').remove();
        }
    });
</script>
#end

#define content()
<table id="dateTable" lay-filter="dateTable"></table>

<script type="text/html" id="toolbarTable">
    <div class="layui-btn-container">
        #shiroHasPermission('/app/project/evaluation')
        <button class="layui-btn layui-btn-sm" lay-event="initial">添加初始风险因素及其风险程度</button>
        <button class="layui-btn layui-btn-sm" lay-event="result">添加采取措施后风险因素及其风险程度</button>
        #end
    </div>
</script>

<script type="text/html" id="barOption">
    <!--<a class="layui-btn layui-btn-xs" lay-event="edit">查看&编辑</a>-->
    <a class="layui-btn layui-btn-warm layui-btn-xs del" lay-event="delete" id="del">删除</a>
</script>

#end