#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    .layui-colla-title {
        background-color: #009688;
        border-radius: 3px;
    }

    .layui-colla-content, .layui-colla-item {
        margin-bottom: 10px;

    }
</style>
#end

#define js()
<script type="text/javascript">
    var projectID = '#(projectID)';
    var reloadTable;
    layui.use(['form','table', 'layer', 'upload', 'layedit','element'], function () {

        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , element = layui.element
            , upload = layui.upload
            , layedit = layui.layedit
            , form = layui.form;

        //自定义工具栏
        var riskLevelsedit = layedit.build('riskLevels', {
            tool: ['left', 'center', 'right'],
            height: 200
        });

        form.verify({
            riskLevelsedit: function (vale) {
                layedit.sync(riskLevelsedit); //同步编辑内容到textarea #10line
            }
        });

        // 表格渲染
        var tableIns_1 = table.render({
            elem: '#dateTable_1'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable_1'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: '260'    //容器高度
            , toolbar: '#toolbarTable'
            , defaultToolbar:[]
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: true}
                , {field: 'orginalFileName', title: '名称', minWidth: 200, sort: true}
                , {field: 'createTime', title: '上传时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', width: 130, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/fileupload/tableData?fileTypeID=118&projectID=' + projectID
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: false
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
                var flag = '#(flag)';
                if (flag === "true") {
                    $('.del').remove();
                    $('.add').remove();
                }
            }
        });

        var tableIns_2 = table.render({
            elem: '#dateTable_2'                  //指定原始表格元素选择器（推荐id选择器）
            , id: 'dateTable_2'
            , even: true //开启隔行背景
            , size: 'sm' //小尺寸的表格
            , height: '260'    //容器高度
            , toolbar: '#toolbarTable'
            , defaultToolbar:[]
            , cols: [[                  //标题栏
                {type: 'numbers', fixed: true, unresize: true}
                , {field: 'orginalFileName', title: '名称', minWidth: 200, sort: true}
                , {field: 'createTime', title: '上传时间', width: 150, sort: true}
                , {fixed: 'right', title: '操作', width: 130, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , url: '#(ctxPath)/app/fileupload/tableData?fileTypeID=119&projectID=' + projectID
            , method: 'get'
            , request: {
                pageName: 'pageNumber' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , page: false
            , limits: [30, 60, 90, 150, 300]
            , limit: 30 //默认采用30
            , loading: true
            , done: function (res, curr, count) {
                var flag = '#(flag)';
                if (flag === "true") {
                    $('.del').remove();
                    $('.add').remove();
                }
            }
        });


        table.on('tool(dateTable_1)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    util.sendAjax({
                        type: 'POST',
                        url: '#(ctxPath)/app/fileupload/delete',
                        data: {
                            id: data.id,
                            projectID: projectID
                        },
                        loadFlag: true,
                        success: function (data) {
                            layer.close(index);
                            reloadTable("dateTable_1", 118);
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if (obj.event === 'view') {
                pop_max_show('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, function () {
                });
            }
        });

        table.on('tool(dateTable_2)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    util.sendAjax({
                        type: 'POST',
                        url: '#(ctxPath)/app/fileupload/delete',
                        data: {
                            id: data.id,
                            projectID: projectID
                        },
                        loadFlag: true,
                        success: function (data) {
                            layer.close(index);
                            reloadTable("dateTable_2", 119);
                        },
                        unSuccess: function (data) {
                            layer.close(index);
                        }
                    })
                });
            } else if (obj.event === 'view') {
                pop_max_show('查看文件', '#(ctxPath)/util/pdfView?fileID=' + data.fileID, function () {
                });
            }
        });

        $("#riskLevels").text("#(riskLevels)");
        function getText(ele) {
            return $("iframe[textarea='" + ele + "']").contents().find("body").text();
        }

        //监听头部工具栏按钮事件
        table.on('toolbar(dateTable_1)', function(obj){
            if(obj.event === 'upload'){
                pop_show('上传 "拟采取防化措施后主要风险程度计算" 文件', '#(ctxPath)/app/project/fileUploading?id=118&projectId=' + projectID, '500', '300', function () {
                    layer.msg("上传成功！");
                    reloadTable("dateTable_1", 118);
                });
            };
        });

        //监听头部工具栏按钮事件
        table.on('toolbar(dateTable_2)', function(obj){
            if(obj.event === 'upload'){
                pop_show('上传 "拟采取防化措施后主要风险风险指数计算" 文件', '#(ctxPath)/app/project/fileUploading?id=119&projectId=' + projectID, '500', '300', function () {
                    layer.msg("上传成功！");
                    reloadTable("dateTable_2", 119);
                });
            };
        });

        reloadTable = function (dateTable, fileTypeId) {
            table.reload(dateTable, {
                url: '#(ctxPath)/app/fileupload/tableData'
                , where: {
                    fileTypeID: fileTypeId,
                    projectID: projectID
                } //设定异步数据接口的额外参数
            });
        };

        var flag = '#(flag)';
        if (flag === "true") {
            $('#del').remove();
            $('#add').remove();
            $("button[fileTypeId*='112']").remove();
            $("button[fileTypeId*='113']").remove();
        }

        $('#sub').click(function () {
            $('#riskLevels').text();
            var text = getText('riskLevels');
            util.sendAjax({
                type: 'POST',
                url: '#(ctxPath)/app/information/updateRiskLevels',
                data: {
                    'projectId': '#(projectID)',
                    'riskLevels': text
                },
                loadFlag: true,
                success: function (data) {
                },
                unSuccess: function (data) {
                }
            })
        });
    });

</script>
#end

#define content()
<div class="layui-card">
    <div class="layui-card-header">拟采取防化措施后主要风险程度计算</div>
    <div class="layui-card-body">
        <table id="dateTable_1" lay-filter="dateTable_1"></table>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header">拟采取防化措施后主要风险风险指数计算</div>
    <div class="layui-card-body">
        <table id="dateTable_2" lay-filter="dateTable_2"></table>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header">风险等级综合评估</div>
    <div class="layui-card-body">
        <textarea id="riskLevels" lay-verify="riskLevelsedit" placeholder="请填写"
                  name="riskLevels"
                  class="layui-textarea">#(riskLevels)</textarea>
    </div>
</div>
<div>
    <button type="submit" class="layui-btn" id="sub">
        保存
    </button>
</div>

<script type="text/html" id="toolbarTable">
    <div class="layui-btn-container">
        #shiroHasPermission('/app/project/evaluation')
        <button class="layui-btn layui-btn-sm" lay-event="upload">上传文件</button>
        #end
    </div>
</script>

<script type="text/html" id="barOption">
    <a class="layui-btn layui-btn-xs" lay-event="view" id="view">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs del" lay-event="del" id="del">删除</a>
</script>

#end