#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end


#define content()
<div class="layui-fluid">
<!--    <fieldset class="layui-elem-field layui-field-title" style="margin-top:30px;color:#009688;">
        <legend style="font-size: 20px;font-weight: 500;">专家团体</legend>
    </fieldset>
    <br/>-->
    <form class="layui-form layui-form-pane" action="" id="content" method="post" style="margin:0 20%">
        <div class="layui-form-item">
            <label class="layui-form-label" for="expertGroup.name" style="width: 180px;">姓名</label>
            <div class="layui-input-block" style="margin: 0 180px">
                <input type="text" name="person.name" id="person.name" value="#(person.name)"
                       disabled="disabled" class="layui-input"
                       lay-verify="required" placeholder="请输入姓名" autocomplete="off" style="width: 500px">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label" for="expertGroup.name" style="width: 180px;">专家团体名称</label>
            <div class="layui-input-block" style="margin: 0 180px">
                <input type="text" name="expertGroup.name" id="expertGroup.name"
                       value="#(expertGroup.name)"
                       placeholder="请输入专家团体名称" autocomplete="off" class="layui-input" style="width: 500px" disabled>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label" for="expertGroup.workstate" style="width: 180px;">在职状态</label>
            <div class="layui-input-block" style="margin: 0 180px">
                <input type="text" name="expertGroup.workstate" id="expertGroup.workstate" class="layui-input" value="#(expertGroup.workstate)"
                       style="width: 500px" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="expertGroup.worktime" style="width: 180px;">工作时间</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" name="expertGroup.worktime" id="expertGroup.worktime" autocomplete="off"
                           value="#(expertGroup.worktime)" class="layui-input" style="width: 500px" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="expertGroup.department" style="width: 180px;">部门名称</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" name="expertGroup.department" id="expertGroup.department" autocomplete="off"
                           value="#(expertGroup.department)" class="layui-input" style="width: 500px" disabled>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="check1" style="width: 180px;"><em
                    class="require-mark">*</em>工作证件照片</label>
            <div class="layui-input-block" style="margin: 0 180px">
                <button type="button" class="layui-btn" name="check1" id="check1" value="#(expertGroup.workpictrue)" style="margin: 0 200px">
                    点击查看
                </button>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" for="expertGroup.profess" style="width: 680px;">
                <h style="margin: 0 40px">专业资格内容</h>
            </label>
            <div class="layui-input-block">
					<textarea name="expertGroup.profess" id="expertGroup.profess"
                              placeholder="" class="layui-textarea"
                              cols="100" rows="2" wrap="hard" autocomplete="off" style="width: 680px" disabled/>#(expertGroup.profess)</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="check2" style="width: 180px;"><em
                    class="require-mark">*</em>专业资格证书</label>
            <div class="layui-input-block" style="margin: 0 180px">
                <button type="button" class="layui-btn" name="check2" id="check2" style="margin: 0 200px" value="#(expertGroup.certificate)">
                    点击查看
                </button>
            </div>
        </div>


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" for="expertGroup.project" style="width: 680px;">
                <h style="margin: 0 40px">参与项目经历</h>
            </label>
            <div class="layui-input-block">
					<textarea name="expertGroup.project" id="expertGroup.project"
                              placeholder="" class="layui-textarea"
                              cols="100" rows="2" wrap="hard" autocomplete="off" style="width: 680px"
                              disabled/>#(expertGroup.project)</textarea>
            </div>
        </div>


    </form>
    <hr>
</div>
#end

#define js()
<script type="text/javascript">

    layui.use(['table', 'layer','jquery','form'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        $("button").click(function () {
            pop_show('查看图片', '#(ctxPath)/util/pdfView?fileID='+$(this).val(),'', '', function () {
            });
        })
    });
</script>
#end