#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }
</style>
#end


#define content()
<div class="layui-fluid">

    <form id="person" class="layui-form " action="">
        <div class="layui-form-pane" style="margin:0 20%">

            <div class="layui-form-item">
                <label class="layui-form-label" for="organization.name" style="width: 180px">组织机构名称</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="organization.name" name="organization.name" value="#(organization.name)"
                           class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.name" style="width: 180px">服务机构名称</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.name" name="facAgency.name" value="#(facAgency.name)"
                           class="layui-input  " style="width: 500px" disabled/>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label" for="check2" style="width: 180px"><em class="require-mark">*</em>维稳办备案文件照片</label>
                <div class="layui-input-block" style="margin: 0 180px">

                    <button type="button" class="layui-btn" name="check1" id="check2" style="margin: 0 200px" value="#(regDocsFilePath)">点击查看
                    </button>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.address" style="width: 180px">公司地址</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.address" name="facAgency.address"
                           value="#(facAgency.address)" class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" for="facAgency.resume" style="width: 680px;">
                    <h style="margin: 0 50px">公司简介</h>
                </label>
                <div class="layui-input-block">
					<textarea id="facAgency.resume" name="facAgency.resume"
                              required lay-verify="required" placeholder="" class="layui-textarea"
                              cols="100" rows="2" wrap="hard" autocomplete="off" style="width: 680px"
                              disabled/>#(facAgency.resume)</textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.principal" style="width: 180px">公司负责人</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.principal" name="facAgency.principal"
                           value="#(facAgency.principal)" class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.phone" style="width: 180px">公司负责人联系方式</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.phone" name="facAgency.phone"
                           value="#(facAgency.phone)" class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.type" style="width: 180px">主体类型</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.type" name="facAgency.type"
                           value="#(facAgency.type)" class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.credit" style="width: 180px">统一社会信用代码</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.credit" name="facAgency.credit"
                           value="#(facAgency.credit)" class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.scope" style="width: 180px">业务范围</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.scope" name="facAgency.scope"
                           value="#(facAgency.scope)" class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgencyStart" style="width: 180px">创办日期</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgencyStart" name="facAgency.start"
                           value="#(facAgency.start)" class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.person" style="width: 180px">企业法人</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.person" name="facAgency.person"
                           value="#(facAgency.person)" class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="check3" style="width: 180px"><em class="require-mark">*</em>法人身份证照片</label>
                <div class="layui-input-block" style="margin: 0 180px">

                    <button type="button" class="layui-btn" name="check2" id="check3" style="margin: 0 200px" value="#(pictrue)">点击查看
                    </button>

                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.capital" style="width: 180px">注册资本</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.capital" name="facAgency.capital"
                           value='#number(facAgency.capital, ",###")' class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.website" style="width: 180px">企业网站</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.website" name="facAgency.website"
                           value="#(facAgency.website)" class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.landline" style="width: 180px">座机电话</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.landline" name="facAgency.landline"
                           value="#(facAgency.landline)" class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="facAgency.scale" style="width: 180px">企业人数</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="facAgency.scale" name="facAgency.scale"
                           value="#(facAgency.scale)" class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>
        </div>
    </form>

</div>

#end

#define js()
<script type="text/javascript">

    layui.use(['table', 'layer', 'laydate', 'jquery','form'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , laydate = layui.laydate
            , form = layui.form;

        laydate.render({
            elem: '#facAgencyStart' //指定元素
        });

        $("button").click(function () {
            pop_show('查看图片', '#(ctxPath)/util/pdfView?fileID='+$(this).val(),'', '', function () {
            });
        })
    });
</script>
#end