#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }
</style>
#end


#define content()
<div class="layui-fluid">
    <!--<fieldset class="layui-elem-field layui-field-title" style="margin-top:30px;color: #009688;">-->
        <!--<legend style="font-size: 20px;font-weight: 500;">审查团体</legend>-->
    <!--</fieldset>-->
    <!--<br>-->
    <!--<form id="person" class="layui-form" action="">-->
        <!--<div class="layui-form-pane" style="margin:0 20%">-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label" style="width: 180px;"><em class="require-mark">*</em>营业执照或相关文件</label>-->
                <!--<div class="layui-input-block" style="margin: 0 180px">-->
                    <!--<button class="layui-btn" name="check" id="check" style="margin: 0 200px">点击查看</button>-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-fluid">
                <fieldset class="layui-elem-field layui-field-title" style="color:#009688">
                    <legend>组织机构</legend>
                </fieldset>
                <div style="padding: 20px; background-color: #F2F2F2;">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">基本信息</div>
                                <div class="layui-card-body">
                                    <form class="layui-form" action="">
                                        <div class="layui-row layui-col-space10 layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label" for="organization.name" >名称：</label>
                                                <div class="layui-input-block" >
                                                    <input type="text" id="organization.name" name="organization.name" value="#(organization.name)"
                                                           class="layui-input " readonly/>
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label" for="organization.principal" >负责人：</label>
                                                <div class="layui-input-block">
                                                    <input type="text" id="organization.principal" name="organization.principal" value="#(organization.principal)"
                                                           class="layui-input "  readonly/>
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label" for="organization.contact" >联系方式：</label>
                                                <div class="layui-input-block" >
                                                    <input type="text" id="organization.contact" name="organization.contact" value="#(organization.contact)"
                                                           class="layui-input " readonly/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;color:#009688">
                    <legend>申请成为认证的机构</legend>
                </fieldset>
                <div style="padding: 20px; background-color: #F2F2F2;margin-top:19px">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">基本信息</div>
                                <div class="layui-card-body">
                                    <form class="layui-form" action="">
                                        <div class="layui-row layui-col-space10 layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label" for="reviewGroup.name" >名称：</label>
                                                <div class="layui-input-block" >
                                                    <input type="text" id="reviewGroup.name" name="reviewGroup.name" value="#(reviewGroup.name)"
                                                           class="layui-input " readonly/>
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label" for="reviewGroup.performance" >服务业绩：</label>
                                                <div class="layui-input-block" >
                                                    <input type="text" id="reviewGroup.performance" name="reviewGroup.performance"
                                                           value="#(reviewGroup.performance)" class="layui-input"  readonly/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-row layui-col-space10 layui-form-item">
                                            <label class="layui-form-label" for="reviewGroup.scope" >服务范围：</label>
                                            <div class="layui-input-block" >
                                                <input type="text" id="reviewGroup.scope" name="reviewGroup.scope"
                                                       value="#(reviewGroup.scope)" class="layui-input" style="width: 830px" readonly/>
                                            </div>
                                        </div>
                                        <div class="layui-row layui-col-space10 layui-form-item">
                                            <label class="layui-form-label" for="reviewGroup.content" >专业内容：</label>
                                            <div class="layui-input-block" >
                                                <input type="text" id="reviewGroup.content" name="reviewGroup.content"
                                                       value="#(reviewGroup.content)" class="layui-input" style="width: 830px" readonly/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">管理员信息：</div>
                                <div class="layui-card-body">
                                    <form class="layui-form" action="">
                                        <div class="layui-row layui-col-space10 layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label" for="reviewGroup.administrator" >姓名：</label>
                                                <div class="layui-input-block" >
                                                    <input type="text" id="reviewGroup.administrator" name="reviewGroup.administrator"
                                                           value="#(reviewGroup.administrator)" class="layui-input" readonly/>
                                                </div></div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label" for="reviewGroup.contact" >联系方式：</label>
                                                <div class="layui-input-block" >
                                                    <input type="text" id="reviewGroup.contact" name="reviewGroup.contact"
                                                           value="#(reviewGroup.contact)" class="layui-input"  readonly/>
                                                </div>
                                            </div>
                                        </div></form>
                                </div>
                            </div>
                        </div>

                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <label class="layui-form-label" style="width: 100px">人员简介：</label>
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" name="check" id="check2"
                                            style="margin: 0 40px" value="#(reviewGroup.resume)">点击查看
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>
</div>

#end


#define js()
<script type="text/javascript">

    layui.use(['table', 'layer','jquery','form'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        $("button").click(function () {
            pop_show('查看图片', '#(ctxPath)/util/pdfView?fileID='+$(this).val(),'', '', function () {
            });
        })
    });
</script>
#end