#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    body {

        background-color: #eee;

    }
    .alone-version-desc {
        position: relative;
        padding: 30px 30px 20px;
        border-radius: 0;
        border-top: 5px solid #ddd;
        background-color: #fff;
        transition: all .3s;
        -webkit-transition: all .3s;
    }

    .layui-text {
        line-height: 22px;
        font-size: 14px;
        color: #666;
    }

    .layui-btn {
        width: 100%;
    }
</style>
#end

#define js()
<script type="text/javascript">

    $("#verify").click(function () {
        window.location.href = '#(ctxPath)/system/projectauth/verifyIndex';
    });
    $("#data").click(function () {
        window.location.href = '#(ctxPath)/system/projectauth/dataIndex';
    });
    //
    //    $("#data").click(function () {
    //        reloadTable(null, "3", null, null);
    //    });


</script>
#end

#define content()

<div class="layui-row layui-col-space10">
    <div class="layui-col-md2"></div>
    <div class="layui-col-md4">
        <div class="alone-version-desc layui-text" style="width: 300px">
            <h2 align="center">立项资格审核</h2><br>
            <p>立项资格审核是建立在组织机构填写申请立项的基础上，通过核查审核该立项申请的真实性、可靠性、完整性等的全面审核，来确立其立项资格，</p>
            <br>
            <button class="layui-btn" id="verify">审&nbsp;&nbsp;&nbsp;&nbsp;核</button>
            </button>
        </div>
    </div>
    <div class="layui-col-md4">
        <div class="alone-version-desc layui-text" style="width: 300px">
            <h2 align="center">立项资料审查</h2><br>
            <p>&nbsp;&nbsp;立项资料审核是对原始资料的审核、次级资料的审核和时效性的审核进行项目建议书审批，确认当前项目是否具有可行性、完整性、及时性、准确性。</p>
            <br>
            <button class="layui-btn" id="data">审&nbsp;&nbsp;&nbsp;&nbsp;核</button>
            </button>

        </div>
    </div>
    <div class="layui-col-md2"></div>
</div>
#end