#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }
</style>
#end


#define content()
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top:30px;color:#009688;">
        <legend style="font-size: 20px;font-weight: 500;">专业团体</legend>
    </fieldset>
    <br/>
    <form id="person" class="layui-form " action="">
        <div class="layui-form-pane" style="margin:0 20%">
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label" for="check1" style="width: 180px;"><em class="require-mark">*</em>营业执照或相关文件</label>-->
                <!--<div class="layui-input-block" style="margin: 0 180px">-->
                    <!--<button class="layui-btn" name="check1" id="check1" style="margin: 0 200px">点击查看</button>-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-form-item">
                <label class="layui-form-label" for="profGroup.name" style="width: 180px;">专业团体名称</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="profGroup.name" name="profGroup.name" value="#(organization.name)"
                           class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="profGroup.orgID" style="width: 180px;">组织机构编号</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="profGroup.orgID" name="profGroup.orgID" value="#(organization.id)"
                           class="layui-input " style="width: 500px" disabled/>

                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="profGroup.scope" style="width: 180px;">服务范围</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="profGroup.scope" name="profGroup.scope"
                           value="#(profGroup.scope)" class="layui-input" style="width: 500px" disabled/>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label" for="profGroup.performance" style="width: 180px;">服务业绩</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="profGroup.performance" name="profGroup.performance"
                           value="#(profGroup.performance)" class="layui-input" style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" style=" width: 680px;">
                    <h style=" margin: 0 50px">人员简历</h>
                </label>
                <div class="layui-input-block">
                    <textareaid id="profGroup.resume" name="profGroup.resume"
                                required lay-verify="required" placeholder="" class="layui-textarea"
                                cols="100" rows="2" wrap="hard" autocomplete="off" style="width: 680px"
                                disabled/>
                    #(profGroup.resume)</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="profGroup.content" style="width: 180px;">专业内容</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="profGroup.content" name="profGroup.content"
                           value="#(profGroup.content)" class="layui-input" style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="profGroup.capital" style="width: 180px;">注册资金</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="profGroup.capital" name="profGroup.capital"
                           value="#(profGroup.capital)" class="layui-input" style="width: 500px" disabled/>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label" for="profGroup.administrator" style="width: 180px;">管理员姓名</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="profGroup.administrator" name="profGroup.administrator"
                           value="#(profGroup.administrator)" class="layui-input" style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="profGroup.contact" style="width: 180px;">管理员联系方式</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="profGroup.contact" name="profGroup.contact"
                           value="#(profGroup.contact)" class="layui-input" style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="check2" style="width: 180px;"><em class="require-mark">*</em>管理员身份证照片</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <button  type="button" class="layui-btn" name="check" id="check2" style="margin: 0 200px" value="#(identity)">点击查看</button>
                </div>
            </div>
        </div>
    </form>
</div>

#end


#define js()
<script type="text/javascript">

    layui.use(['table', 'layer','jquery','form'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        $("button").click(function () {
            pop_show('查看图片', '#(ctxPath)/util/pdfView?fileID='+$(this).val(),'', '', function () {
            });
        })
    });
</script>
#end