#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()

#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer', 'layedit'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , $ = layui.jquery;

        layedit.build('brief', {
            height: 180 //设置编辑器高度
        }); //建立编辑器
    });

</script>
#end

#define content()
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">项目信息</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-row layui-col-space10 layui-form-item">

                            <div class="layui-inline">
                                <label class="layui-form-label">项目名称</label>
                                <div class="layui-input-block" style="width:248px;">
                                    <input type="text" value="#(model.name)" autocomplete="off" class="layui-input" readonly/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">项目类型</label>
                                <div class="layui-input-block">
                                    <input type="text" value="#(model.typeName)" autocomplete="off" class="layui-input" readonly/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">预计金额</label>
                                <div class="layui-input-inline">
                                    <input type="text" value="#number(model.amount, ',###')" autocomplete="off" class="layui-input"style="width: 170px" readonly/>
                                </div>
                                <div class="layui-form-mid layui-word-aux" style="margin-left: -25px">（单位：元）</div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">地址</label>
                                <div class="layui-input-block" style="width:975px;">
                                    <input type="text" value="#(model.site)" autocomplete="off" class="layui-input" readonly/>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">管理部门</label>
                                <div class="layui-input-block" style="width:975px;">
                                    <input type="text" value="#(management.name)" autocomplete="off" class="layui-input" readonly/>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">简介</label>
                                <div class="layui-input-block" style="width:975px;">
                                    <textarea class="layui-textarea" id="brief" name="brief" disabled>#(model.brief)</textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">立项机构信息</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-row layui-col-space10 layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">名称</label>
                                <div class="layui-input-block">
                                    <input type="text" value="#(organization.name)" autocomplete="off" class="layui-input" readonly/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width: 130px;">组织机构代码</label>
                                <div class="layui-input-block" style="margin-left:160px; width:200px;">
                                    <input type="text" value="#(organization.code)" autocomplete="off" class="layui-input" readonly/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">地址</label>
                                <div class="layui-input-block" style="width: 570px;">
                                    <input type="text" value="#(organization.addr)" autocomplete="off" class="layui-input" readonly/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
#end