#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }
</style>
#end


#define content()
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top:30px;color: #009688;">
        <legend style="font-size: 20px;font-weight: 500;">服务机构认证</legend>
    </fieldset>
    <br/>

    <form class="layui-form">
        <h3>项目基本资料</h3>
        <hr class="layui-bg-red">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label" for="project.name" style="width: 150px"><em class="require-mark">*</em>项目名称：</label>
                <div class="layui-input-block"style="margin: 0 150px">
                    <input type="text" id="project.name" name="project.name" value="#(project.name)"
                           class="layui-input " style="width: 500px" disabled/>
                    <!--<p>#(project.name)</p>-->
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px"><em class="require-mark">*</em>组织机构名称：</label>
                <div class="layui-input-block " style="margin: 0 150px">
                    <input type="text" id="organization.name" name="organization.name" placeholder="#(organization.name)" value="#(organization.name)"
                           class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="project.amount" style="width: 150px"><em class="require-mark">*</em>预计金额：</label>
                <div class="layui-input-block"style="margin: 0 150px">
                    <input type="text" id="project.amount" name="project.amount" value='#number(model.amount, ",###")元'
                           class="layui-input " style="width: 500px" disabled/>
                    <!--<p>#(project.amount)</p>-->
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label" for="paTypeName" style="width: 150px"><em class="require-mark">*</em>项目评估类型：</label>
                <div class="layui-input-block"style="margin: 0 150px">
                    <input type="text" id="paTypeName" name="paTypeName" value="#(paTypeName)"
                           class="layui-input " style="width: 500px" disabled/>
                    <!--<p>#(paTypeName)</p>-->
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label"for="pStepName" style="width: 150px"><em class="require-mark">*</em>项目阶段：</label>
                <div class="layui-input-block"style="margin: 0 150px">
                    <input type="text" id="pStepName" name="pStepName" value="#(pStepName)"
                           class="layui-input " style="width: 500px" disabled/>
                    <!--<p>#(pStepName)</p>-->
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="project.site" style="width: 150px"><em class="require-mark">*</em>地 址：</label>
                <div class="layui-input-block"style="margin: 0 150px">
                    <input type="text" id="project.site" name="project.site" value="#(project.site)"
                           class="layui-input " style="width: 500px" disabled/>
                    <!--<p>#(project.site)</p>-->
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"for="project.assessmentMode"style="width: 150px"><em class="require-mark">*</em>评估方式：</label>
                <!--<p>#(project.assessmentMode)</p>-->
                <div class="layui-input-block" style="margin: 0 150px">
                    <input type="text" id="project.assessmentMode" name="project.assessmentMode" value="#(project.assessmentMode)"
                           class="layui-input " style="width: 500px" disabled/>
                </div></div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" for="project.brief" style="width: 650px;">
                    <h style="margin: 0 20px"><em class="require-mark">*</em>项目简介</h>
                </label>
                <div class="layui-input-block">
					<textarea id="project.brief" name="project.brief"
                              required lay-verify="required" placeholder="" class="layui-textarea"
                              cols="100" rows="2" wrap="hard" autocomplete="off" style="width: 650px"
                              disabled/>#(project.brief)</textarea>
                </div>
            </div>
        </div>
    </form>

</div>

#end


#define js()
<script type="text/javascript">

    layui.use(['table', 'layer','jquery','form'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        $("button").click(function () {
            pop_show('查看图片', '#(ctxPath)/util/pdfView?fileID='+$(this).val(),'', '', function () {
            });
        })
    });
</script>
#end