<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/layui/layui.all.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/comm_notbar.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/ztree/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="#(RESOURCE_HOST)/static/js/utils.js"></script>
<!--<script type="text/javascript" src="/static/js/pilotJS/jquery-2.1.1.min.js"></script>-->
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/digitsConversion.js"></script>
