#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
</style>
#end

#define js()

<script type="text/javascript">
    ////////浏览器视口的高度
    function windowHeight() {
        var myHeight = 0;
        if (typeof(window.innerHeight) == 'number') {
            //Non-IE
            myHeight = window.innerHeight;
        } else if (document.documentElement && (document.documentElement.clientHeight)) {
            //IE 6+ in 'standards compliant mode'
            myHeight = document.documentElement.clientHeight;
        } else if (document.body && (document.body.clientHeight)) {
            //IE 4 compatible
            myHeight = document.body.clientHeight;
        }
        return myHeight;
    }
    /////////浏览器视口的宽度
    function windowWidth() {
        var myWidth = 0;
        if (typeof(window.innerWidth) == 'number') {
            //Non-IE
            myWidth = window.innerWidth;
        } else if (document.documentElement && (document.documentElement.clientWidth)) {
            //IE 6+ in 'standards compliant mode'
            myWidth = document.documentElement.clientWidth;
        } else if (document.body && (document.body.clientWidth)) {
            //IE 4 compatible
            myWidth = document.body.clientWidth;
        }
        return myWidth;
    }
    /**** 当前页面高度 ****/
    function pageHeight() {
        return document.body.scrollHeight;
    }

    /**** 当前页面宽度 ****/
    function pageWidth() {
        return document.body.scrollWidth;
    }

    function pdf(element) {
        element.media({
            width:windowWidth()
            ,height:windowHeight()
            , src: "../" + element.attr('href')
        });
    }
    pdf($("a.media"));
</script>
#end

#define content()
<a class="media" href="#(files.path)"></a>
#end