#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }
</style>
#end


#define content()
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px; color: #009688">
        <legend style="font-size: 20px;font-weight: 500;">管理机构认证</legend>
    </fieldset>
    <form id="person" class="layui-form" action="">
        <div class="layui-form-pane">

            <div class="layui-form-item">
                <label class="layui-form-label" for="organization.name"style="width: 180px">组织机构名称</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="number" id="organization.name" name="organization.name" placeholder="#(organization.name)"value="#(organization.name)"
                           class="layui-input " style="width: 500px" disabled/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="management.name" style="width: 180px">管理机构名称</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="management.name" name="management.name" value="#(organization.name)"
                           class="layui-input " style="width: 500px"required/>
                </div>
            </div>

            <div class="layui-form-item layui-hide">
                <label class="layui-form-label" for="management.orgID" style="width: 180px">组织机构编号</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="number" id="management.orgID" name="management.orgID" value="#(organization.id)"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="management.responsibility"style="width: 180px">部门职责</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="management.responsibility" name="management.responsibility"
                           value="#(management.responsibility)" class="layui-input" style="width: 500px" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="management.superior"style="width: 180px">上级部门</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="management.superior" name="management.superior"
                           value="#(management.superior)" class="layui-input"style="width: 500px" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="management.principal"style="width: 180px">上级负责人</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="management.principal" name="management.principal"
                           value="#(management.principal)" class="layui-input"style="width: 500px" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="management.principalcon"style="width: 180px">负责人联系方式</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="tel" id="management.principalcon" name="management.principalcon"
                           value="#(management.principalcon)" class="layui-input"style="width: 500px" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="management.party"style="width: 180px">党政信息</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="management.party" name="management.party"
                           value="#(management.party)" class="layui-input"style="width: 500px" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="management.manager"style="width: 180px">部门主管姓名</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="management.manager" name="management.manager"
                           value="#(management.manager)" class="layui-input"style="width: 500px" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="management.managercon"style="width: 180px">主管联系方式</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="tel" id="management.managercon" name="management.managercon"
                           value="#(management.managercon)" class="layui-input"style="width: 500px" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="management.detailedaddr"style="width: 180px">部门详细地址</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="management.detailedaddr" name="management.detailedaddr"
                           value="#(management.detailedaddr)" class="layui-input"style="width: 500px" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="management.num"style="width: 180px">部门人数</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="number" id="management.num" name="management.num"
                           value="#(management.num)" class="layui-input"style="width: 500px" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="management.lower"style="width: 180px">下级部门</label>
                <div class="layui-input-block" style="margin: 0 180px">
                    <input type="text" id="management.lower" name="management.lower"
                           value="#(management.lower)" class="layui-input" style="width: 500px" required/>
                </div>
            </div>

            <!--隐藏flag作为界面是否禁用的方法-->
            <input type="text" id="flag" name="flag"
                   class="layui-input layui-disabled layui-hide" value="#(flag)" required/>

            <br>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin: 0 180px">
                    <button type="button" class="layui-btn" lay-submit lay-filter="sub">保存</button>
                    <button type="button" class="layui-btn layui-btn-warm" id="reset">取消</button>
                    <button type="button" class="layui-btn layui-btn-warm layui-hide" id="back">返回</button>
                </div>
            </div>
        </div>
    </form>
</div>

#end


#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var layer = layui.layer
            , $ = layui.jquery
            , form = layui.form

        form.on('submit(sub)', function (data) {
            util.sendAjax({
                type: 'POST',
                url: '#(ctxPath)/app/organization/managementProve',
                data: $.param(data.field),
                loadFlag: true,
                success: function (data) {
                    window.location.href = '#(ctxPath)/app/organization/prove';
                    setTimeout(function () {
                        return true;
                    }, 3000);
                },
                error: function (data) {
                    console.log(data);
                }
            });
            return false;
        });
    });

    if ($('#flag').val() == 1) {
        $(".layui-btn").addClass("layui-hide");
        $(":input").addClass("layui-disabled");
        $(":input").attr("disabled", "disabled");
        $('#back').removeClass('layui-hide').removeClass('layui-disabled').attr("disabled","");
    }
    $('#back').click(function () {
        history.go(-1);
    });
    $('#reset').click(function () {
        history.back();
    });
</script>
#end