#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    button {
        background: #758ef0;
        color: #FFF;
        border: none;
        border-radius: 15px;
    }
</style>
#end


#define content()
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>专业团体认证</legend>
    </fieldset>

    <form id="person" class="layui-form x-center" action="">
        <div class="layui-form-pane">

            <div class="layui-form-item">
                <label class="layui-form-label" for="upload"><em class="require-mark">*</em>营业执照或相关文件</label>
                <div class="layui-input-block">
                    <div class="layui-upload">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" name="upload" id="upload"><i class="layui-icon"></i>上传文件
                            </button>
                            <label class="layui-hide" for="organization.certificate"></label><input type="text" class="layui-hide"
                                                                                                    name="organization.certificate"
                                                                                                    id="organization.certificate">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="prof_group.name">专业团体名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="prof_group.name" name="prof_group.name" value="#(organization.name)"
                           class="layui-input layui-disabled layui-hide" required/>
                    <p>#(organization.name)</p>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="prof_group.orgID">组织机构编号</label>
                <div class="layui-input-inline">
                    <input type="number" id="prof_group.orgID" name="prof_group.orgID" value="#(organization.id)"
                           class="layui-input layui-disabled layui-hide" required/>
                    <p>#(organization.id)</p>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="prof_group.scope">服务范围</label>
                <div class="layui-input-inline">
                    <input type="text" id="prof_group.scope" name="prof_group.scope"
                           value="#(prof_group.scope)" class="layui-input" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="prof_group.comprehend">服务理解</label>
                <div class="layui-input-inline">
                    <input type="text" id="prof_group.comprehend" name="prof_group.comprehend"
                           value="#(prof_group.comprehend)" class="layui-input" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="prof_group.performance">服务业绩</label>
                <div class="layui-input-inline">
                    <input type="text" id="prof_group.performance" name="prof_group.performance"
                           value="#(prof_group.performance)" class="layui-input" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="prof_group.framework">人员架构</label>
                <div class="layui-input-inline">
                    <input type="text" id="prof_group.framework" name="prof_group.framework"
                           value="#(prof_group.framework)" class="layui-input" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="prof_group.resume">人员简历</label>
                <div class="layui-input-inline">
                    <input type="text" id="prof_group.resume" name="prof_group.resume"
                           value="#(prof_group.resume)" class="layui-input" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="prof_group.content">专业内容</label>
                <div class="layui-input-inline">
                    <input type="text" id="prof_group.content" name="prof_group.content"
                           value="#(prof_group.content)" class="layui-input" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="prof_group.capital">注册资金</label>
                <div class="layui-input-inline">
                    <input type="number" id="prof_group.capital" name="prof_group.capital"
                           value="#(prof_group.capital)" class="layui-input" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">有无犯罪记录</label>
                <div class="layui-input-block">
                    #if(prof_group.record == 0)
                    <input type="radio" name="prof_group.record" value="0" title="有" checked="checked" required/>
                    <input type="radio" name="prof_group.record" value="1" title="无" required/>
                    #else
                    <input type="radio" name="prof_group.record" value="0" title="有" required/>
                    <input type="radio" name="prof_group.record" value="1" title="无" checked="checked" required/>
                    #end
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="prof_group.administrator">管理员姓名</label>
                <div class="layui-input-inline">
                    <input type="text" id="prof_group.administrator" name="prof_group.administrator"
                           value="#(prof_group.administrator)" class="layui-input" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="prof_group.contact">管理员联系方式</label>
                <div class="layui-input-inline">
                    <input type="tel" id="prof_group.contact" name="prof_group.contact"
                           value="#(prof_group.contact)" class="layui-input" required/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="upload1"><em class="require-mark">*</em>管理员身份证照片</label>
                <div class="layui-input-block">
                    <div class="layui-upload1">
                        <div class="layui-upload1">
                            <button type="button" class="layui-btn" name="upload1" id="upload1"><i class="layui-icon"></i>上传文件
                            </button>
                            <label class="layui-hide" for="prof_group.identity"></label><input type="text" class="layui-hide"
                                                                                               name="prof_group.identity"
                                                                                               id="prof_group.identity">
                        </div>
                    </div>
                </div>
            </div>

            <!--隐藏flag作为界面是否禁用的方法-->
            <input type="text" id="flag" name="flag"
                   class="layui-input layui-disabled layui-hide" value="#(flag)" required/>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="sub">保存</button>
                    <button class="layui-btn layui-btn-warm" id="reset">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>

#end


#define js()
<script type="text/javascript">
    layui.use(['form', 'layer', 'upload'], function () {
        var layer = layui.layer
            , $ = layui.jquery
            , form = layui.form
            , upload = layui.upload;


        upload.render({ //允许上传的文件后缀
            elem: '#upload'
            , url: '#(ctxPath)/app/organization/upload'
            , accept: 'file' //普通文件
            , exts: 'doc|docx|pdf' //只允许上传压缩文件
            , done: function (res) {
//                $("#organization.certificate").text(res.path);
//                $("#organization.certificate").val(res.path);
//                $("#organization.certificate").html(res.path);
            }
        });


        form.on('submit(sub)', function (data) {
            util.sendAjax({
                type: 'POST',
                url: '#(ctxPath)/app/organization/profGroupProve',
                data: $.param(data.field),
                loadFlag: true,
                success: function (data) {
                    window.location.href = '#(ctxPath)/app/organization/prove';
                    setTimeout(function () {
                        return true;
                    }, 3000);
                },
                error: function (data) {
                    console.log(data);
                }
            });
            return false;
        });
    });

    if ($('#flag').val() == 1) {
        $(".layui-btn").addClass("layui-hide");
        $(":input").addClass("layui-disabled");
        $(":input").attr("disabled", "disabled");
    }
</script>
#end