#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    .layui-form-item {
        margin-right: 100px;
    }

    .layui-btn {
        width: 100px;
        height: 100px;
        margin-top: 15px;
        margin-right: 70px;
        border-radius: 100PX;
    }
</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var layer = layui.layer, $ = layui.jquery, form = layui.form;

        //已认证按钮变灰且不可点击
        var a = $(".nameList");
        var b = $(".layui-btn");
        for (var i = 0; i < a.length; i++) {
            for (var j = 0; j < b.length; j++) {
                if (a[i].name == b[j].name) {
                    b[j].style.background = "gray";
                    b[j].innerHTML = b[j].name + "<p>(已认证)</p>"
                    b[j].disabled = true;
                }
            }
        }

        //按钮点击事件
        form.on('submit(sub)', function (data) {
            var v = data.elem.value;
            console.log(v);
            window.location.href = '#(ctxPath)/app/organization/' + v;
            return false;
        });
    });

    $("#jump").click(function () {
        window.location.href = '#(ctxPath)/app/organization/';
    })
</script>
#end

#define content()
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top:30px;color: #009688;">
        <legend style="font-size: 20px;font-weight: 500;">组织机构认证</legend>
    </fieldset>


    #if(flag==true)
    <form id="person" class="layui-form x-center" action="">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="sub" value="management" name="管理机构">管理机构</button>
                    <button class="layui-btn" lay-submit lay-filter="sub" value="enterprise" name="企业机构">企业机构</button>
                    <button class="layui-btn" lay-submit lay-filter="sub" value="facAgency" name="服务机构">服务机构</button>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" STYLE="margin-left: 110PX;">
                    <button class="layui-btn" lay-submit lay-filter="sub" value="profGroup" name="专业团体">专业团体</button>
                    <button class="layui-btn" lay-submit lay-filter="sub" value="reviewGroup" name="审查团体">审查团体</button>
                    #for(list : nameList)
                    <button class="nameList layui-hide" name="#(list)">对比按钮(隐藏)</button>
                    #end
                </div>
            </div>
        </div>
    </form>
    #else if(flag==false)
    <div class="layui-form-item x-center">
        <div class="layui-input-block">
            <h1 style="font-weight: 100">您的营业执照未上传，请将资料补充完整后再进行认证！</h1>
            <br/>
            <button class="layui-btn" id="jump" style="border-radius: 5px; height: 50px; width: 150px">去上传</button>
        </div>
    </div>
    #end
</div>
#end