#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>
    body {

        background-color: #eee;

    }
    .alone-version-desc {
        position: relative;
        padding: 30px 30px 20px;
        border-radius: 0;
        border-top: 5px solid #ddd;
        background-color: #fff;
        transition: all .3s;
        -webkit-transition: all .3s;
    }

    .layui-text {
        line-height: 22px;
        font-size: 14px;
        color: #666;
    }
    .layui-btn{
        width: 280px;
    }
</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var layer = layui.layer, $ = layui.jquery, form = layui.form;

        //已认证按钮变灰且不可点击
        var a = $(".nameList");
        var b = $(".layui-btn");
        for (var i = 0; i < a.length; i++) {
            for (var j = 0; j < b.length; j++) {
                if (a[i].name == b[j].name) {
                    b[j].style.background = "gray";
                    b[j].innerHTML = "<p>(&nbsp;&nbsp;已&nbsp;&nbsp;认&nbsp;&nbsp;证&nbsp;&nbsp;)</p>"
                    b[j].disabled = true;
                }
            }
        }

        //按钮点击事件
        form.on('submit(sub)', function (data) {
            var v = data.elem.value;
            console.log(v);
            window.location.href = '#(ctxPath)/app/organization/' + v;
            return false;
        });
    });

    $("#jump").click(function () {
        window.location.href = '#(ctxPath)/app/organization/';
    })
</script>
#end

#define content()
<body class="body">

<div class="layui-fluid">
    <!--content start-->
    #if(flag==true)
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md4">
            <div class="alone-version-desc layui-text" style="margin: 0 10%;width: 280px">
                <h2 align="center">管理机构</h2><br>
                <ul>
                    <li>企业管理人员
                        <ul>
                            <li>权限管理；</li>
                            <li>企业构架管理；</li>
                            <li>人员管理。</li>
                        </ul>
                    </li>
                    <li>可赋权工作人员
                        <ul>
                            <li>组织功能：我方项目、项目发、我方组织、公司相关工作、参与开展中的项目（自评）；</li>
                            <li>项目查询：查阅管辖范围内所有已完成项目、进行中项目、下属部门项目；</li>
                        </ul>
                    </li>
                </ul>
                <br>
                <button class="layui-btn" lay-submit lay-filter="sub" value="management" name="管理机构">认&nbsp;&nbsp;&nbsp;&nbsp;证
                </button>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="alone-version-desc layui-text" style="margin: 0 10%;width: 280px">
                <h2 align="center">审查组织</h2><br>
                <ul>
                    <li>企业管理人员
                        <ul>
                            <li>权限管理；</li>
                            <li>企业构架管理；</li>
                            <li>人员管理。</li>
                        </ul>
                    </li>
                    <li>可赋权工作人员
                        <ul>
                            <li>组织功能：我方项目、我方评审、项目发布、我方组织、待参与的评审工作、我司工作、参与开展中的项目（自评）；</li>
                            <li>项目查询：查阅已完成项目、进行中项目、已完成的评审；</li>
                        </ul>
                    </li>
                </ul>

                <button class="layui-btn" lay-submit lay-filter="sub" value="reviewGroup" name="审查团体">认&nbsp;&nbsp;&nbsp;&nbsp;证
                </button>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="alone-version-desc layui-text" style="margin: 0 10%;width: 280px">
                <h2 align="center">企业机构</h2><br>
                <ul>
                    <li>企业管理人员
                        <ul>
                            <li>权限管理；</li>
                            <li>企业构架管理；</li>
                            <li>人员管理。</li>
                        </ul>
                    </li>
                    <li>可赋权工作人员
                        <ul>
                            <li>组织功能：我方项目、项目发布、参与开展中的项目（自评）；</li>
                            <li>项目查询：查阅管辖范围内所有已完成项目、进行中项目、下属部门项目；</li>
                        </ul>
                    </li>
                </ul>
                <br><br>
                 <button class="layui-btn" lay-submit lay-filter="sub" value="enterprise" name="企业机构">认&nbsp;&nbsp;&nbsp;&nbsp;证
                                </button>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md2"></div>
        <div class="layui-col-md4">
            <div class="alone-version-desc layui-text" style="margin: 0 10%;width: 280px">
                <h2 align="center">专业团体</h2><br>
                <ul>
                    <li>企业管理人员
                        <ul>
                            <li>权限管理；</li>
                            <li>企业构架管理；</li>
                            <li>人员管理。</li>
                        </ul>
                    </li>
                    <li>可赋权工作人员
                        <ul>
                            <li>组织功能：我方项目、项目发布、我方组织、我方工作、工作评价查看、参与开展中的项目（自评）；</li>
                            <li>项目查询：查阅已完成项目、正在进行中项目；</li>
                        </ul>
                    </li>
                </ul>
                <br>
                       <button class="layui-btn" lay-submit lay-filter="sub" value="profGroup" name="专业团体">认&nbsp;&nbsp;&nbsp;&nbsp;证
                                </button>

            </div>
        </div>
        <div class="layui-col-md4">
            <div class="alone-version-desc layui-text" style="margin: 0 10%;width: 280px">
                <h2 align="center">服务机构</h2><br>
                <ul>
                    <li>企业管理人员
                        <ul>
                            <li>权限管理；</li>
                            <li>企业构架管理；</li>
                            <li>人员管理。</li>
                        </ul>
                    </li>
                    <li>可赋权工作人员
                        <ul>
                            <li>组织功能：我方项目、我方评审、我方组织、参与承接中的项目；</li>
                            <li>项目查询：查阅可承接的项目、已完成项目、正在进行中项目；</li>
                        </ul>
                    </li>
                </ul>
                <br><br>

                <button class="layui-btn" lay-submit lay-filter="sub" value="facAgency" name="服务机构">认&nbsp;&nbsp;&nbsp;&nbsp;证
                </button>

            </div>
        </div>
        <div class="layui-col-md2"></div>
    </div>

    #for(list : nameList)
                    <button class="nameList layui-hide" name="#(list)">对比按钮(隐藏)</button>
                    #end
    #else if(flag==false)
    <div class="layui-form-item x-center">
        <div class="layui-input-block">
            <h2 style="font-weight: 100">您的营业执照未上传，请将资料补充完整后再进行认证！</h2>
            <br/>
            <button class="layui-btn" id="jump" style="border-radius: 5px; height: 50px; width: 150px">去上传</button>
        </div>
    </div>
    #end
</div>
#end